openapi: 3.1.0
info:
  title: Avalara Excise Platform Tax Determination API
  description: The Avalara Excise Platform API provides an external programmatic interface for excise tax determination on fuel, tobacco, alcohol, and other excise products. It supports tax calculation, business entity management, location configuration, and transaction processing for excise tax compliance across US federal and state jurisdictions.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://exciseapi.avalara.com/api/v1
  description: Excise API Production
security:
- bearerAuth: []
tags:
- name: Tax Determination
  description: Calculate excise taxes on transactions
paths:
  /TaxDetermination:
    post:
      operationId: calculateExciseTax
      summary: Avalara Calculate Excise Taxes
      description: Calculates excise taxes for a transaction containing one or more line items with product, origin, destination, and movement information.
      tags:
      - Tax Determination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxDeterminationRequest'
      responses:
        '200':
          description: Tax determination results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDeterminationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ExciseTaxDetail:
      type: object
      properties:
        taxType:
          type: string
          description: Type of excise tax
        jurisdiction:
          type: string
          description: Taxing jurisdiction
        taxRate:
          type: number
          format: double
        taxAmount:
          type: number
          format: double
        taxableAmount:
          type: number
          format: double
        exemptAmount:
          type: number
          format: double
        rateType:
          type: string
          enum:
          - PerUnit
          - Percentage
    TaxDeterminationResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - Success
          - Error
          - Partial
        transactionLines:
          type: array
          items:
            $ref: '#/components/schemas/TaxDeterminationLine'
        totalTaxAmount:
          type: number
          format: double
    TransactionLine:
      type: object
      properties:
        lineNumber:
          type: string
        productCode:
          type: string
          description: Excise product code
        unitOfMeasure:
          type: string
          enum:
          - GAL
          - LTR
          - BBL
          - TON
          - EA
          description: Unit of measure
        quantity:
          type: number
          format: double
          description: Quantity of product
        amount:
          type: number
          format: double
          description: Line amount
        origin:
          $ref: '#/components/schemas/ExciseAddress'
        destination:
          $ref: '#/components/schemas/ExciseAddress'
        billOfLadingNumber:
          type: string
        carrierName:
          type: string
        modeOfTransport:
          type: string
          enum:
          - Truck
          - Pipeline
          - Rail
          - Vessel
    TransactionParty:
      type: object
      properties:
        companyId:
          type: string
        locationId:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/ExciseAddress'
        licenseNumber:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    TaxDeterminationLine:
      type: object
      properties:
        lineNumber:
          type: string
        productCode:
          type: string
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/ExciseTaxDetail'
        totalTax:
          type: number
          format: double
    ExciseAddress:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        region:
          type: string
          description: State or province code
        postalCode:
          type: string
        country:
          type: string
          description: ISO 3166 country code
    TaxDeterminationRequest:
      type: object
      required:
      - effectiveDate
      - transactionLines
      properties:
        effectiveDate:
          type: string
          format: date
          description: Date for tax determination
        invoiceNumber:
          type: string
        invoiceDate:
          type: string
          format: date
        titleTransferCode:
          type: string
          enum:
          - Origin
          - Destination
          description: Title transfer point
        transactionType:
          type: string
          description: Type of excise transaction
        seller:
          $ref: '#/components/schemas/TransactionParty'
        buyer:
          $ref: '#/components/schemas/TransactionParty'
        transactionLines:
          type: array
          items:
            $ref: '#/components/schemas/TransactionLine'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication
externalDocs:
  description: Excise Platform API Documentation
  url: https://developer.avalara.com/api-reference/excise/v1/
