openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms CertExpressInvites API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: CertExpressInvites
paths:
  /api/v2/companies/{companyId}/customers/{customerCode}/certexpressinvites:
    post:
      tags:
      - CertExpressInvites
      summary: Avalara CreateCertExpressInvitation
      description: "Creates an invitation for a customer to self-report certificates using the CertExpress website.\r\n            \r\nThis invitation is delivered by your choice of method, or you can present a hyperlink to the user\r\ndirectly in your connector.  Your customer will be redirected to https://app.certexpress.com/ where\r\nthey can follow a step-by-step guide to enter information about their exemption certificates.  The\r\ncertificates entered will be recorded and automatically linked to their customer record.\r\n            \r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.\r\n            \r\nBefore you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.\r\nCompanies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`.  To request setup of exemption\r\ncertificate storage for this company, call `RequestCertificateSetup`.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin.\n* This API depends on the following active services:*Required* (all):  AvaTaxPro.\n"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                recipient: bob@example.org
                coverLetterTitle: STANDARD_REQUEST
                exposureZones:
                - 89
                exemptReasons:
                - 70
                deliveryMethod: Download
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/companies/{companyId}/customers/{customerCode}/certexpressinvites/{id}:
    get:
      tags:
      - CertExpressInvites
      summary: Avalara GetCertExpressInvitation
      description: "Retrieve an existing CertExpress invitation sent to a customer.\r\n            \r\nA CertExpression invitation allows a customer to follow a helpful step-by-step guide to provide information\r\nabout their certificates.  This step by step guide allows the customer to complete and upload the full\r\ncertificate in a convenient, friendly web browser experience.  When the customer completes their certificates,\r\nthey will automatically be recorded to your company and linked to the customer record.\r\n            \r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.\r\n            \r\nBefore you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.\r\nCompanies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`.  To request setup of exemption\r\ncertificate storage for this company, call `RequestCertificateSetup`.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n* This API depends on the following active services:*Required* (all):  AvaTaxPro.\n"
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/companies/{companyId}/certexpressinvites:
    get:
      tags:
      - CertExpressInvites
      summary: Avalara ListCertExpressInvitations
      description: "Retrieve CertExpress invitations sent by this company.\r\n            \r\nA CertExpression invitation allows a customer to follow a helpful step-by-step guide to provide information\r\nabout their certificates.  This step by step guide allows the customer to complete and upload the full\r\ncertificate in a convenient, friendly web browser experience.  When the customer completes their certificates,\r\nthey will automatically be recorded to your company and linked to the customer record.\r\n            \r\nThe [CertExpress website](https://app.certexpress.com/home) is available for customers to use at any time.\r\nUsing CertExpress with this API will ensure that your certificates are automatically linked correctly into\r\nyour company so that they can be used for tax exemptions.\r\n            \r\nBefore you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.\r\nCompanies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption\r\ncertificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`.  To request setup of exemption\r\ncertificate storage for this company, call `RequestCertificateSetup`.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n* This API depends on the following active services:*Required* (all):  AvaTaxPro.\n"
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
