openapi: 3.1.0
info:
  title: Avalara Communications Tax Customization API
  description: The Avalara Communications Tax API (AFC SaasPro) provides communications tax calculations for telecom, VoIP, internet, and other communications services. It supports tax calculations using transaction/service pairs, jurisdiction determination via geocoding, and customizable tax profiles for accurate communications tax compliance.
  version: '2.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://communicationsua.avalara.net
  description: Communications API Production
security:
- basicAuth: []
tags:
- name: Customization
  description: Manage tax profiles, exemptions, and overrides
paths:
  /api/v2/afc/customization/profiles:
    get:
      operationId: getProfiles
      summary: Avalara List Tax Profiles
      description: Retrieves all configured tax profiles for the client.
      tags:
      - Customization
      responses:
        '200':
          description: List of tax profiles
    post:
      operationId: createProfile
      summary: Avalara Create a Tax Profile
      description: Creates a new tax profile with custom bundles and overrides.
      tags:
      - Customization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxProfile'
      responses:
        '201':
          description: Tax profile created
  /api/v2/afc/customization/exclusions:
    get:
      operationId: getExclusions
      summary: Avalara List Tax Exclusions
      description: Retrieves configured tax exclusions.
      tags:
      - Customization
      responses:
        '200':
          description: List of exclusions
    post:
      operationId: createExclusion
      summary: Avalara Create a Tax Exclusion
      tags:
      - Customization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Exclusion'
      responses:
        '201':
          description: Exclusion created
components:
  schemas:
    Exclusion:
      type: object
      properties:
        excl:
          type: integer
          description: Exclusion type
        ctry:
          type: string
        st:
          type: string
        excl_name:
          type: string
    TaxProfile:
      type: object
      properties:
        profileId:
          type: integer
        profileName:
          type: string
        description:
          type: string
        bundles:
          type: array
          items:
            type: object
            properties:
              bundleId:
                type: integer
              bundleName:
                type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AFC SaasPro credentials for basic authentication
externalDocs:
  description: Communications Tax API Documentation
  url: https://developer.avalara.com/api-reference/communications/v2/
