openapi: 3.1.0
info:
  title: Avalara Utilities API
  version: '1.0'
  description: 'Operations tagged Utilities across 2 of this provider''s published API definitions: avalara-avatax-rest-openapi.yml, avatax-apis-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.avatax.com
  description: AvaTax Production
- url: https://sandbox-rest.avatax.com
  description: AvaTax Sandbox
- url: http://{{baseurl}}
tags:
- name: Utilities
  description: Utility endpoints including ping and health checks
paths:
  /api/v2/utilities/ping:
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
    get:
      operationId: ping
      summary: Avalara Test Connectivity and Authentication
      description: Tests connectivity to the AvaTax service and validates authentication credentials.
      tags:
      - Utilities
      security: []
      responses:
        '200':
          description: Ping successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResultModel'
  /api/v2/utilities/subscriptions:
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
    get:
      operationId: listMySubscriptions
      summary: Avalara List Subscriptions for the Current Account
      tags:
      - Utilities
      responses:
        '200':
          description: Subscriptions for authenticated account
      security:
      - basicAuth: []
      - bearerAuth: []
  /api/v2/utilities/subscriptions/{serviceTypeId}:
    servers:
    - url: http://{{baseurl}}
    get:
      tags:
      - Utilities
      summary: Avalara GetMySubscription
      description: "Returns a subscription object for the current account, or 404 Not Found if this subscription is not enabled for this account.\n            \nThis API will return an error if it is called with invalid authentication credentials.\n            \nThis API is intended to help you determine whether you have the necessary subscription to use certain API calls\nwithin AvaTax.  You can examine the subscriptions returned from this API call to look for a particular product\nor subscription to provide useful information to the current user as to whether they are entitled to use\nspecific features of AvaTax."
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: serviceTypeId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
components:
  schemas:
    PingResultModel:
      type: object
      properties:
        version:
          type: string
          description: AvaTax API version
        authenticated:
          type: boolean
          description: Whether the request was authenticated
        authenticationType:
          type: string
          enum:
          - None
          - UsernamePassword
          - AccountIdLicenseKey
          - OpenIdBearerToken
          description: Type of authentication used
        authenticatedUserName:
          type: string
          description: Username of the authenticated user
        authenticatedUserId:
          type: integer
          description: User ID of the authenticated user
        authenticatedAccountId:
          type: integer
          description: Account ID of the authenticated user
        crmid:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AvaTax username/password or accountId/licenseKey as basic auth credentials
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: AvaTax REST API v2 Documentation
  url: https://developer.avalara.com/api-reference/avatax/rest/v2/
x-refined-from:
- avalara-avatax-rest-openapi.yml
- avatax-apis-openapi.yml
