openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms Orders API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: Orders
  description: Create and manage sales orders for Avalara services
paths:
  /orders:
    post:
      operationId: createOrder
      summary: Avalara Create a Sales Order
      description: Creates a new sales order for Avalara products and services.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrder'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: Avalara Get Order Details
      tags:
      - Orders
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
components:
  schemas:
    SalesOrder:
      type: object
      required:
      - accountId
      - products
      properties:
        accountId:
          type: string
        products:
          type: array
          items:
            type: object
            properties:
              productCode:
                type: string
              quantity:
                type: integer
        campaignId:
          type: string
    OrderResponse:
      type: object
      properties:
        orderId:
          type: string
        accountId:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Confirmed
          - Completed
          - Cancelled
        createdDate:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
