openapi: 3.1.0
info:
  title: Avalara VAT Reporting Onboarding API
  description: The Avalara VAT Reporting API orchestrates end-to-end VAT compliance workflows including onboarding, file ingress, error handling, filing of VAT Returns, EC Listings, Intrastat, and transaction reporting across multiple jurisdictions.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/vat-reporting/v1
  description: VAT Reporting API Production
security:
- bearerAuth: []
tags:
- name: Onboarding
  description: Onboard companies for VAT reporting
paths:
  /onboarding:
    post:
      operationId: onboardCompany
      summary: Avalara Onboard a Company for VAT Reporting
      description: Initiates the onboarding process for a company to begin VAT reporting in one or more jurisdictions.
      tags:
      - Onboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRequest'
      responses:
        '201':
          description: Onboarding initiated
components:
  schemas:
    OnboardingRequest:
      type: object
      required:
      - companyId
      - countries
      properties:
        companyId:
          type: string
        companyName:
          type: string
        countries:
          type: array
          items:
            type: object
            properties:
              countryCode:
                type: string
              vatRegistrationNumber:
                type: string
              filingFrequency:
                type: string
                enum:
                - Monthly
                - Quarterly
                - Annual
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: VAT Reporting API Documentation
  url: https://developer.avalara.com/api-reference/vat-reporting/v1/
