openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms Addresses API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: Addresses
  description: Validate and resolve addresses for tax jurisdiction determination
paths:
  /api/v2/addresses/resolve:
    post:
      operationId: resolveAddress
      summary: Avalara Resolve and Validate an Address
      description: Validates and resolves an address to a standardized format with latitude, longitude, and tax jurisdiction information.
      tags:
      - Addresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressValidationInfo'
      responses:
        '200':
          description: Address resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResolutionModel'
    get:
      tags:
      - Addresses
      summary: Avalara ResolveAddress
      description: "Resolve an address against Avalara's address-validation system.  If the address can be resolved, this API\r\nprovides the latitude and longitude of the resolved location.  The value 'resolutionQuality' can be used\r\nto identify how closely this address can be located.  If the address cannot be clearly located, use the\r\n'messages' structure to learn more about problems with this address.\r\nThis is the same API as the POST /api/v2/addresses/resolve endpoint.\r\nBoth verbs are supported to provide for flexible implementation.\r\n            \r\nIn order to get any evaluation for an address, please provide at least one of the following fields/pairs:\r\n1. postal code\r\n2. line1 + city + region\r\n3. line1 + postal code\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n* This API depends on the following active services:*Required* (all):  AutoAddress.\n"
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  schemas:
    AddressValidationInfo:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        line3:
          type: string
        city:
          type: string
        region:
          type: string
        postalCode:
          type: string
        country:
          type: string
        textCase:
          type: string
          enum:
          - Default
          - Upper
          - Mixed
    AddressResolutionModel:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/AddressInfo'
        validatedAddresses:
          type: array
          items:
            $ref: '#/components/schemas/AddressInfo'
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
        resolutionQuality:
          type: string
          enum:
          - NotCoded
          - External
          - CountryCentroid
          - RegionCentroid
          - PartialCentroid
          - PostalCentroidGood
          - PostalCentroidBetter
          - PostalCentroidBest
          - Intersection
          - Interpolated
          - Rooftop
        taxAuthorities:
          type: array
          items:
            $ref: '#/components/schemas/TaxAuthorityInfo'
    AddressInfo:
      type: object
      properties:
        line1:
          type: string
          description: Street address line 1
        line2:
          type: string
          description: Street address line 2
        line3:
          type: string
          description: Street address line 3
        city:
          type: string
          description: City name
        region:
          type: string
          description: State, province, or region code
        postalCode:
          type: string
          description: Postal code or ZIP code
        country:
          type: string
          description: Two-character ISO 3166 country code
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    TaxAuthorityInfo:
      type: object
      properties:
        avalaraId:
          type: string
        jurisdictionName:
          type: string
        jurisdictionType:
          type: string
        signatureCode:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
