openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms AdvancedRules API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: AdvancedRules
paths:
  /api/v2/advancedrules/accounts/{accountId}/companies/{companyId}/lookupFiles:
    post:
      tags:
      - AdvancedRules
      summary: Avalara CreateCompanyLookupFile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: sampleLookupFile
                content: SWQsTWF0ZXJpYWxHcm91cCxUYXhDb2RlIA0KMSw0MjM0NSxTQzE1MDMwNg0KMiw0MjM0NixTQzE1MDMwNg0KMywxMTExMSxQMDAwMDAwMA0KNCw0NDQ0NCxEQzAxMDAwMA0KNSw5MDk5OSxTUDE0MDAwMA==
                fileExtension: .csv
                isTest: false
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
      - AdvancedRules
      summary: Avalara GetCompanyLookupFiles
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v2/advancedrules/accounts/{accountId}/lookupFiles/{id}:
    delete:
      tags:
      - AdvancedRules
      summary: Avalara DeleteLookupFile
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
      - AdvancedRules
      summary: Avalara GetLookupFile
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
      - AdvancedRules
      summary: Avalara UpdateLookupFile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: sampleLookupFile
                content: SWQsTWF0ZXJpYWxHcm91cCxUYXhDb2RlIA0KMSw0MjM0NSxTQzE1MDMwNg0KMiw0MjM0NixTQzE1MDMwNg0KMywxMTExMSxQMDAwMDAwMA0KNCw0NDQ0NCxEQzAxMDAwMA0KNSw5MDk5OSxTUDE0MDAwMA==
                fileExtension: .csv
                isTest: false
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: accountId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
