openapi: 3.1.0
info:
  title: Avalara TaxRules API
  version: '1.0'
  description: 'Operations tagged TaxRules across 2 of this provider''s published API definitions: avalara-avatax-rest-openapi.yml, avatax-apis-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.avatax.com
  description: AvaTax Production
- url: https://sandbox-rest.avatax.com
  description: AvaTax Sandbox
- url: http://{{baseurl}}
tags:
- name: TaxRules
  description: Manage tax rules and overrides for companies
paths:
  /api/v2/companies/{companyId}/taxrules:
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
    get:
      operationId: listTaxRules
      summary: Avalara List Tax Rules for a Company
      tags:
      - TaxRules
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      responses:
        '200':
          description: List of tax rules
      security:
      - basicAuth: []
      - bearerAuth: []
    post:
      operationId: createTaxRules
      summary: Avalara Create Tax Rules for a Company
      tags:
      - TaxRules
      parameters:
      - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TaxRuleModel'
      responses:
        '201':
          description: Tax rules created
      security:
      - basicAuth: []
      - bearerAuth: []
  /api/v2/countryCoefficients:
    servers:
    - url: http://{{baseurl}}
    put:
      tags:
      - TaxRules
      summary: Avalara CreateCountryCoefficients
      description: "Create one or more Country Coefficients for particular country.\n            \nWe would like to use country coefficients during Cross-Border calculations to slightly increase or decrease\na calculation for a line based on the tax-subtype and Country of destination for a transaction.\n            \nThis will allow AvaTax to minimize the variance caused between actual transaction taken place on ground Vs Tax\nCalculated by AvaTax.\n            \nMake sure to use the same API to update the country coefficients that is already present in the database.\nThis will make existing entry for specific country as ineffective for that date. And new entry created will get applicable\nto the newer transactions."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                accountId: 0
                coefficientDetails:
                - companyCode: ''
                  country: ''
                  coefficient: 0
                  taxSubTypeId: ''
                  currencyCode: USD
                  unitOfBasisId: 0
                  isApplicable: false
                  startDate: '2023-08-13'
                  endDate: '9999-12-31'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /api/v2/companies/{companyId}/taxrules/{id}:
    servers:
    - url: http://{{baseurl}}
    delete:
      tags:
      - TaxRules
      summary: Avalara DeleteTaxRule
      description: "Mark the custom tax rule identified by this URL as deleted.\n            \nA tax rule represents a rule that changes the default AvaTax behavior for a product or jurisdiction.  Custom tax rules\ncan be used to change the taxability of an item, to change the tax base of an item, or to change the tax rate\ncharged when selling an item.  Tax rules can also change tax behavior depending on the `entityUseCode` value submitted\nwith the transaction.\n            \nYou can create custom tax rules to customize the behavior of AvaTax to match specific rules that are custom to your\nbusiness.  If you have obtained a ruling from a tax auditor that requires custom tax calculations, you can use\ncustom tax rules to redefine the behavior for your company or item.\n            \nPlease use custom tax rules carefully and ensure that these tax rules match the behavior agreed upon with your\nauditor, legal representative, and accounting team.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.\n"
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
    get:
      tags:
      - TaxRules
      summary: Avalara GetTaxRule
      description: "Get the taxrule object identified by this URL.\n            \nA tax rule represents a rule that changes the default AvaTax behavior for a product or jurisdiction.  Custom tax rules\ncan be used to change the taxability of an item, to change the tax base of an item, or to change the tax rate\ncharged when selling an item.  Tax rules can also change tax behavior depending on the `entityUseCode` value submitted\nwith the transaction.\n            \nYou can create custom tax rules to customize the behavior of AvaTax to match specific rules that are custom to your\nbusiness.  If you have obtained a ruling from a tax auditor that requires custom tax calculations, you can use\ncustom tax rules to redefine the behavior for your company or item.\n            \nPlease use custom tax rules carefully and ensure that these tax rules match the behavior agreed upon with your\nauditor, legal representative, and accounting team.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n"
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
    put:
      tags:
      - TaxRules
      summary: Avalara UpdateTaxRule
      description: "Replace the existing custom tax rule object at this URL with an updated object.\n            \nA tax rule represents a rule that changes the default AvaTax behavior for a product or jurisdiction.  Custom tax rules\ncan be used to change the taxability of an item, to change the tax base of an item, or to change the tax rate\ncharged when selling an item.  Tax rules can also change tax behavior depending on the `entityUseCode` value submitted\nwith the transaction.\n            \nYou can create custom tax rules to customize the behavior of AvaTax to match specific rules that are custom to your\nbusiness.  If you have obtained a ruling from a tax auditor that requires custom tax calculations, you can use\ncustom tax rules to redefine the behavior for your company or item.\n            \nPlease use custom tax rules carefully and ensure that these tax rules match the behavior agreed upon with your\nauditor, legal representative, and accounting team.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.\n"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 56789
                companyId: 12345
                taxCode: FR020800
                stateFIPS: '04'
                jurisName: MARICOPA
                jurisCode: '013'
                jurisTypeId: 0
                jurisdictionTypeId: County
                taxTypeId: BothSalesAndUseTax
                taxTypeCode: ALL
                taxRuleTypeId: ProductTaxabilityRule
                isAllJuris: false
                value: 0
                cap: 0
                threshold: 0
                effectiveDate: '2023-08-13'
                description: Freight
                countyFIPS: '013'
                country: US
                region: AZ
                taxTypeGroup: SalesAndUse
                taxSubType: ALL
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /api/v2/{country}/CountryCoefficients:
    servers:
    - url: http://{{baseurl}}
    get:
      tags:
      - TaxRules
      summary: Avalara ListCountryCoefficients
      description: "Retrieve all or any specific records of Country Coefficients based on the filters(optional) for specific country.\n \n Search for specific objects using the criteria in the `$filter` parameter; full documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\n Paginate your results using the `$top`, `$skip`, and `$orderby` parameters."
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: country
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /api/v2/taxrules:
    servers:
    - url: http://{{baseurl}}
    get:
      tags:
      - TaxRules
      summary: Avalara QueryTaxRules
      description: "Get multiple taxrule objects across all companies.\n            \nA tax rule represents a rule that changes the default AvaTax behavior for a product or jurisdiction.  Custom tax rules\ncan be used to change the taxability of an item, to change the tax base of an item, or to change the tax rate\ncharged when selling an item.  Tax rules can also change tax behavior depending on the `entityUseCode` value submitted\nwith the transaction.\n            \nYou can create custom tax rules to customize the behavior of AvaTax to match specific rules that are custom to your\nbusiness.  If you have obtained a ruling from a tax auditor that requires custom tax calculations, you can use\ncustom tax rules to redefine the behavior for your company or item.\n            \nPlease use custom tax rules carefully and ensure that these tax rules match the behavior agreed upon with your\nauditor, legal representative, and accounting team.\n            \nSearch for specific objects using the criteria in the `$filter` parameter; full documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\nPaginate your results using the `$top`, `$skip`, and `$orderby` parameters.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n"
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
components:
  parameters:
    top:
      name: $top
      in: query
      schema:
        type: integer
        default: 1000
      description: Maximum number of results to return
    filter:
      name: $filter
      in: query
      schema:
        type: string
      description: OData filter expression for result filtering
    companyId:
      name: companyId
      in: path
      required: true
      schema:
        type: integer
      description: The numeric ID of the company
    skip:
      name: $skip
      in: query
      schema:
        type: integer
        default: 0
      description: Number of results to skip for pagination
  schemas:
    TaxRuleModel:
      type: object
      properties:
        id:
          type: integer
        companyId:
          type: integer
        taxCodeId:
          type: integer
        taxCode:
          type: string
        stateFIPS:
          type: string
        jurisName:
          type: string
        jurisCode:
          type: string
        jurisTypeId:
          type: string
        rateTypeId:
          type: string
        ruleTypeId:
          type: string
        isAllJuris:
          type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AvaTax username/password or accountId/licenseKey as basic auth credentials
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: AvaTax REST API v2 Documentation
  url: https://developer.avalara.com/api-reference/avatax/rest/v2/
x-refined-from:
- avalara-avatax-rest-openapi.yml
- avatax-apis-openapi.yml
