openapi: 3.1.0
info:
  title: Avalara Business Orders API
  description: The Avalara Business API provides public APIs for doing business with Avalara, including registering customer accounts and creating sales orders for Avalara services through partner integrations.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/business/v1
  description: Business API Production
security:
- bearerAuth: []
tags:
- name: Orders
  description: Create and manage sales orders for Avalara services
paths:
  /orders:
    post:
      operationId: createOrder
      summary: Avalara Create a Sales Order
      description: Creates a new sales order for Avalara products and services.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrder'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: Avalara Get Order Details
      tags:
      - Orders
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
components:
  schemas:
    OrderResponse:
      type: object
      properties:
        orderId:
          type: string
        accountId:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Confirmed
          - Completed
          - Cancelled
        createdDate:
          type: string
          format: date-time
    SalesOrder:
      type: object
      required:
      - accountId
      - products
      properties:
        accountId:
          type: string
        products:
          type: array
          items:
            type: object
            properties:
              productCode:
                type: string
              quantity:
                type: integer
        campaignId:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: Avalara Business API Documentation
  url: https://developer.avalara.com/api-reference/business/v1/
