openapi: 3.1.0
info:
  title: Avalara CertCapture Attributes API
  description: The Avalara CertCapture RESTful API provides document management for tax-exempt sales, including managing exemption certificates, customer records, custom attributes, authentication tokens, and eCommerce token generation. It supports the full certificate lifecycle from creation through validation and expiry tracking.
  version: '2.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.certcapture.com/v2
  description: CertCapture API Production
security:
- basicAuth: []
tags:
- name: Attributes
  description: Manage certificate attributes and custom fields
paths:
  /attributes:
    get:
      operationId: listAttributes
      summary: Avalara List Certificate Attributes
      tags:
      - Attributes
      responses:
        '200':
          description: List of attributes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertAttribute'
components:
  schemas:
    CertAttribute:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        isSystemCode:
          type: boolean
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: CertCapture API credentials
externalDocs:
  description: CertCapture API Documentation
  url: https://developer.avalara.com/api-reference/CertCapture/v2/
