openapi: 3.1.0
info:
  title: Avalara CertCapture eCommerce API
  description: The Avalara CertCapture RESTful API provides document management for tax-exempt sales, including managing exemption certificates, customer records, custom attributes, authentication tokens, and eCommerce token generation. It supports the full certificate lifecycle from creation through validation and expiry tracking.
  version: '2.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.certcapture.com/v2
  description: CertCapture API Production
security:
- basicAuth: []
tags:
- name: eCommerce
  description: eCommerce token generation for certificate collection
paths:
  /ecommerce/token:
    post:
      operationId: generateEcommerceToken
      summary: Avalara Generate ECommerce Token
      description: Generates a token for embedding the CertCapture certificate collection widget in eCommerce checkout flows.
      tags:
      - eCommerce
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerCode:
                  type: string
                companyId:
                  type: integer
      responses:
        '200':
          description: eCommerce token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: CertCapture API credentials
externalDocs:
  description: CertCapture API Documentation
  url: https://developer.avalara.com/api-reference/CertCapture/v2/
