openapi: 3.1.0
info:
  title: Avalara E-Invoicing REST Mandates API
  description: The Avalara E-Invoicing REST API supports electronic invoicing compliance workflows for cross-border and domestic transactions. It enables submission, validation, and management of e-invoices in compliance with mandates from tax authorities worldwide, supporting formats like UBL, Peppol, and country-specific standards.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/einvoicing/v1
  description: E-Invoicing API Production
- url: https://api.sbx.avalara.com/einvoicing/v1
  description: E-Invoicing API Sandbox
security:
- bearerAuth: []
tags:
- name: Mandates
  description: Query e-invoicing mandate definitions
paths:
  /mandates:
    get:
      operationId: listMandates
      summary: Avalara List E-invoicing Mandates
      description: Retrieves a list of e-invoicing mandate definitions that describe compliance requirements by country and document type.
      tags:
      - Mandates
      parameters:
      - name: avalara-version
        in: header
        required: true
        schema:
          type: string
          default: '1.0'
      - name: $top
        in: query
        schema:
          type: integer
      - name: $skip
        in: query
        schema:
          type: integer
      - name: $filter
        in: query
        schema:
          type: string
        description: OData filter expression
      - name: count
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: List of mandates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MandateList'
components:
  schemas:
    Mandate:
      type: object
      properties:
        mandateId:
          type: string
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
        countryName:
          type: string
        description:
          type: string
        supportedDocumentTypes:
          type: array
          items:
            type: string
        inputFormats:
          type: array
          items:
            type: string
        workflowId:
          type: string
    MandateList:
      type: object
      properties:
        '@recordSetCount':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/Mandate'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: E-Invoicing API Documentation
  url: https://developer.avalara.com/api-reference/e-invoicing/v1.0
