openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms Registrations API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: Registrations
  description: Manage partner registrations
paths:
  /registrations:
    get:
      operationId: listRegistrations
      summary: Avalara List All Registrations
      description: Retrieves all registrations for the authenticated partner.
      tags:
      - Registrations
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - Pending
          - Active
          - Expired
          - Cancelled
      - name: $top
        in: query
        schema:
          type: integer
      - name: $skip
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of registrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /registrations/{registrationId}:
    get:
      operationId: getRegistration
      summary: Avalara Get a Registration by ID
      description: Retrieves details for a specific registration.
      tags:
      - Registrations
      parameters:
      - name: registrationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Registration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    RegistrationList:
      type: object
      properties:
        '@recordSetCount':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/Registration'
    Registration:
      type: object
      properties:
        registrationId:
          type: string
        partnerId:
          type: string
        companyName:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Active
          - Expired
          - Cancelled
        product:
          type: string
          description: Avalara product registered for
        accountId:
          type: string
        activationDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        createdDate:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
