openapi: 3.1.0
info:
  title: Avalara Excise Platform Licenses API
  description: The Avalara Excise Platform API provides an external programmatic interface for excise tax determination on fuel, tobacco, alcohol, and other excise products. It supports tax calculation, business entity management, location configuration, and transaction processing for excise tax compliance across US federal and state jurisdictions.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://exciseapi.avalara.com/api/v1
  description: Excise API Production
security:
- bearerAuth: []
tags:
- name: Licenses
  description: Manage excise licenses
paths:
  /Licenses:
    get:
      operationId: listLicenses
      summary: Avalara List Excise Licenses
      tags:
      - Licenses
      responses:
        '200':
          description: List of licenses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExciseLicense'
components:
  schemas:
    ExciseLicense:
      type: object
      properties:
        licenseId:
          type: string
        licenseNumber:
          type: string
        licenseType:
          type: string
        issuingJurisdiction:
          type: string
        effectiveDate:
          type: string
          format: date
        expirationDate:
          type: string
          format: date
        status:
          type: string
          enum:
          - Active
          - Expired
          - Suspended
          - Revoked
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication
externalDocs:
  description: Excise Platform API Documentation
  url: https://developer.avalara.com/api-reference/excise/v1/
