openapi: 3.1.0
info:
  title: Avalara VAT Reporting Filing Calendar API
  description: The Avalara VAT Reporting API orchestrates end-to-end VAT compliance workflows including onboarding, file ingress, error handling, filing of VAT Returns, EC Listings, Intrastat, and transaction reporting across multiple jurisdictions.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/vat-reporting/v1
  description: VAT Reporting API Production
security:
- bearerAuth: []
tags:
- name: Filing Calendar
  description: Manage VAT filing obligations and calendars
paths:
  /filing-calendars:
    get:
      operationId: listFilingCalendars
      summary: Avalara List Filing Calendar Obligations
      description: Retrieves the filing calendar showing due dates and obligations for each jurisdiction and filing period.
      tags:
      - Filing Calendar
      parameters:
      - name: countryCode
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Filing calendar entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilingCalendarEntry'
components:
  schemas:
    FilingCalendarEntry:
      type: object
      properties:
        countryCode:
          type: string
        returnType:
          type: string
        filingFrequency:
          type: string
        periodStart:
          type: string
          format: date
        periodEnd:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        status:
          type: string
          enum:
          - Upcoming
          - Due
          - Overdue
          - Filed
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: VAT Reporting API Documentation
  url: https://developer.avalara.com/api-reference/vat-reporting/v1/
