openapi: 3.1.0
info:
  title: Avalara Communications Tax Lookup API
  description: The Avalara Communications Tax API (AFC SaasPro) provides communications tax calculations for telecom, VoIP, internet, and other communications services. It supports tax calculations using transaction/service pairs, jurisdiction determination via geocoding, and customizable tax profiles for accurate communications tax compliance.
  version: '2.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://communicationsua.avalara.net
  description: Communications API Production
security:
- basicAuth: []
tags:
- name: Lookup
  description: Look up service and transaction type information
paths:
  /api/v2/afc/PCode/{pcode}:
    get:
      operationId: getPCodeInfo
      summary: Avalara Get PCode Jurisdiction Information
      description: Retrieves detailed jurisdiction information for a given PCode (proprietary jurisdiction code).
      tags:
      - Lookup
      parameters:
      - name: pcode
        in: path
        required: true
        schema:
          type: integer
        description: The PCode to look up
      responses:
        '200':
          description: PCode jurisdiction details
  /api/v2/afc/tspairs:
    get:
      operationId: getTransactionServicePairs
      summary: Avalara List Transaction/service Type Pairs
      description: Returns all valid transaction type and service type pairs that can be used for tax calculations.
      tags:
      - Lookup
      responses:
        '200':
          description: List of transaction/service type pairs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TSPairModel'
  /api/v2/afc/taxtype/{taxType}:
    get:
      operationId: getTaxTypeInfo
      summary: Avalara Get Tax Type Details
      description: Retrieves details for a specific tax type identifier.
      tags:
      - Lookup
      parameters:
      - name: taxType
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Tax type details
  /api/v2/afc/serviceinfo:
    get:
      operationId: getServiceInfo
      summary: Avalara Get Service Information
      description: Returns version and status information for the Communications API.
      tags:
      - Lookup
      security: []
      responses:
        '200':
          description: Service information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInfo'
components:
  schemas:
    ServiceInfo:
      type: object
      properties:
        serverTime:
          type: string
          format: date-time
        buildVersion:
          type: string
    TSPairModel:
      type: object
      properties:
        TransactionType:
          type: integer
          description: Transaction type ID
        TransactionTypeDescription:
          type: string
        ServiceType:
          type: integer
          description: Service type ID
        ServiceTypeDescription:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AFC SaasPro credentials for basic authentication
externalDocs:
  description: Communications Tax API Documentation
  url: https://developer.avalara.com/api-reference/communications/v2/
