openapi: 3.2.0
info:
  title: Avalara Transactions API
  version: '1.0'
  description: 'Operations tagged Transactions across 5 of this provider''s published API definitions: avalara-avatax-brazil-openapi.yml, avalara-avatax-rest-openapi.yml, avalara-excise-openapi.yml, avalara-vat-reporting-openapi.yml, avatax-apis-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://avataxbr-sandbox.avalarabrasil.com.br/v3
  description: AvaTax Brazil Sandbox
- url: https://rest.avatax.com
  description: AvaTax Production
- url: https://sandbox-rest.avatax.com
  description: AvaTax Sandbox
- url: https://exciseapi.avalara.com/api/v1
  description: Excise API Production
- url: https://api.avalara.com/vat-reporting/v1
  description: VAT Reporting API Production
- url: http://{{baseurl}}
tags:
- name: Transactions
  description: Manage tax transactions
paths:
  /transactions:
    get:
      operationId: listTransactions
      summary: Avalara List Transactions
      tags:
      - Transactions
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of transactions
      security:
      - bearerAuth: []
    post:
      operationId: submitTransactions
      summary: Avalara Submit VAT Transactions
      description: Submits a batch of transactions for VAT reporting. Transactions are validated and processed for inclusion in VAT returns.
      tags:
      - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBatch'
      responses:
        '202':
          description: Transactions accepted for processing
      security:
      - bearerAuth: []
    servers:
    - url: https://avataxbr-sandbox.avalarabrasil.com.br/v3
      description: AvaTax Brazil Sandbox
  /api/v2/transactions/create:
    post:
      operationId: createTransaction
      summary: Avalara Create a New Transaction
      description: Creates a new tax transaction. This is the primary method for calculating tax on a sale, purchase, or other taxable event. The transaction can be committed immediately or saved as a temporary document.
      tags:
      - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionModel'
      responses:
        '200':
          description: Transaction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - basicAuth: []
      - bearerAuth: []
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /api/v2/companies/{companyCode}/transactions/{transactionCode}:
    get:
      operationId: getTransactionByCode
      summary: Avalara Retrieve a Single Transaction by Code
      description: Retrieves a transaction by its company code and transaction code, optionally including line item details and summary information.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/companyCode'
      - name: transactionCode
        in: path
        required: true
        schema:
          type: string
        description: The transaction code to retrieve
      - name: $include
        in: query
        schema:
          type: string
        description: Comma-separated list of optional data to include (e.g., Lines, Details, Summary)
      responses:
        '200':
          description: Transaction retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - basicAuth: []
      - bearerAuth: []
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/adjust:
    post:
      operationId: adjustTransaction
      summary: Avalara Adjust a Committed Transaction
      description: Adjusts a committed transaction by replacing it with a modified version. The original transaction is voided and a new adjusted transaction is created.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/companyCode'
      - name: transactionCode
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustTransactionModel'
      responses:
        '200':
          description: Transaction adjusted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
      security:
      - basicAuth: []
      - bearerAuth: []
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/commit:
    post:
      operationId: commitTransaction
      summary: Avalara Commit a Transaction
      description: Marks a transaction as committed, indicating it has been finalized and should be reported to tax authorities.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/companyCode'
      - name: transactionCode
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitTransactionModel'
      responses:
        '200':
          description: Transaction committed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
      security:
      - basicAuth: []
      - bearerAuth: []
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/void:
    post:
      operationId: voidTransaction
      summary: Avalara Void a Transaction
      description: Voids an existing transaction, removing it from tax reporting. Only uncommitted or committed transactions can be voided.
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/companyCode'
      - name: transactionCode
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidTransactionModel'
      responses:
        '200':
          description: Transaction voided successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
      security:
      - basicAuth: []
      - bearerAuth: []
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /api/v2/transactions/{transactionCode}/refund:
    post:
      operationId: refundTransaction
      summary: Avalara Create a Refund for a Transaction
      description: Creates a refund transaction based on an existing committed transaction. Supports full, partial, percentage, and tax-only refund types.
      tags:
      - Transactions
      parameters:
      - name: transactionCode
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundTransactionModel'
      responses:
        '200':
          description: Refund transaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionModel'
      security:
      - basicAuth: []
      - bearerAuth: []
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /Transactions:
    get:
      operationId: listTransactions
      summary: Avalara List Excise Transactions
      description: Retrieves a list of excise tax transactions.
      tags:
      - Transactions
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      - name: pageNumber
        in: query
        schema:
          type: integer
          default: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: List of transactions
      security:
      - bearerAuth: []
    post:
      operationId: createTransaction
      summary: Avalara Create an Excise Transaction
      tags:
      - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExciseTransaction'
      responses:
        '201':
          description: Transaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExciseTransaction'
      security:
      - bearerAuth: []
    servers:
    - url: https://exciseapi.avalara.com/api/v1
      description: Excise API Production
  /Transactions/{transactionId}:
    get:
      operationId: getTransaction
      summary: Avalara Retrieve an Excise Transaction
      tags:
      - Transactions
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExciseTransaction'
      security:
      - bearerAuth: []
    servers:
    - url: https://exciseapi.avalara.com/api/v1
      description: Excise API Production
  /api/v2/companies/transactions/lines/add:
    post:
      tags:
      - Transactions
      summary: Avalara AddLines
      description: 'Add lines to an existing unlocked transaction.


        The `AddLines` API allows you to add additional transaction lines to existing transaction, so that customer will

        be able to append multiple calls together and form an extremely large transaction. If customer does not specify line number

        in the lines to be added, a new random Guid string will be generated for line number. If customer are not satisfied with

        the line number for the transaction lines, they can turn on the renumber switch to have REST v2 automatically renumber all

        transaction lines for them, in this case, the line number becomes: "1", "2", "3", ...


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).

        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)


        If you omit the `$include` parameter, the API will assume you want `Summary,Addresses`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                companyCode: DEFAULT
                transactionCode: '1234'
                documentType: SalesInvoice
                lines:
                - number: '1'
                  quantity: 1
                  amount: 100
                  taxCode: PS081282
                  itemCode: Y0001
                  description: Yarn
                renumber: false
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesTransactionsLinesAdd
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/audit:
    get:
      tags:
      - Transactions
      summary: Avalara AuditTransaction
      description: 'Retrieve audit information about a transaction stored in AvaTax.


        The `AuditTransaction` API retrieves audit information related to a specific transaction. This audit

        information includes the following:


        * The `CompanyId` of the company that created the transaction

        * The server timestamp representing the exact server time when the transaction was created

        * The server duration - how long it took to process this transaction

        * Whether exact API call details were logged

        * A reconstructed API call showing what the original CreateTransaction call looked like


        This API can be used to examine information about a previously created transaction.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeAudit
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/types/{documentType}/audit:
    get:
      tags:
      - Transactions
      summary: Avalara AuditTransactionWithType
      description: 'Retrieve audit information about a transaction stored in AvaTax.


        The `AuditTransaction` API retrieves audit information related to a specific transaction. This audit

        information includes the following:


        * The `CompanyId` of the company that created the transaction

        * The server timestamp representing the exact server time when the transaction was created

        * The server duration - how long it took to process this transaction

        * Whether exact API call details were logged

        * A reconstructed API call showing what the original CreateTransaction call looked like


        This API can be used to examine information about a previously created transaction.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      - name: documentType
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeTypesByDocumentTypeAudit
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/transactions/lock:
    post:
      tags:
      - Transactions
      summary: Avalara BulkLockTransaction
      description: 'This API is available by invitation only.


        Lock a set of transactions uniquely identified by DocumentIds provided. This API allows locking multiple documents at once.

        After this API call succeeds, documents will be locked and can''t be voided.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        ### Security Policies


        * This API requires the user role Compliance Root User.

        * This API depends on the following active services:*Returns* (at least one of): Mrs, MRSComplianceManager, AvaTaxCsp.*Firm Managed* (for accounts managed by a firm): ARA, ARAManaged.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                documentIds:
                - 1
                - 2
                - 3
                - 4
                - 5
                isLocked: true
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2TransactionsLock
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/changecode:
    post:
      tags:
      - Transactions
      summary: Avalara ChangeTransactionCode
      description: 'Renames a transaction uniquely identified by this URL by changing its `code` value.


        This API is available as long as the transaction is in `saved` or `posted` status. When a transaction

        is `committed`, it can be modified by using the AdjustTransaction method.


        After this API call succeeds, the transaction will have a new URL matching its new `code`.


        If you have more than one document with the same `code`, specify the `documentType` parameter to choose between them.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * TaxDetailsByTaxType - Includes the aggregated tax, exempt tax, taxable and non-taxable for each tax type returned in the transaction summary.


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, ProStoresOperator, SSTAdmin, TechnicalSupportAdmin.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                newCode: f0b2f99e-de1d-439f-9be0-960fc3c62c07
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeChangecode
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/transactions/createoradjust:
    post:
      tags:
      - Transactions
      summary: Avalara CreateOrAdjustTransaction
      description: 'Records a new transaction or adjust an existing transaction in AvaTax.


        The `CreateOrAdjustTransaction` endpoint is used to create a new transaction or update an existing one. This API

        can help you create an idempotent service that creates transactions

        If there exists a transaction identified by code, the original transaction will be adjusted by using the meta data

        in the input transaction.


        The `CreateOrAdjustTransaction` API cannot modify any transaction that has been reported to a tax authority using

        the Avalara Managed Returns Service or any other tax filing service. If you call this API to attempt to modify

        a transaction that has been reported on a tax filing, you will receive the error `CannotModifyLockedTransaction`.


        To generate a refund for a transaction, use the `RefundTransaction` API.


        An address is required for calculation. If no address is provided at the line level, the document level address will be used.


        If you don''t specify the field `type` in your request, you will get an estimate of type `SalesOrder`, which will not be recorded in the database.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).

        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * ForceTimeout - Simulates a timeout. This adds a 30 second delay and error to your API call. This can be used to test your code to ensure it can respond correctly in the case of a dropped connection.


        If you omit the `$include` parameter, the API will assume you want `Summary,Addresses`.


        NOTE: Avoid using the following strings in your transaction codes as they are encoding strings and will be interpreted differently:

        * \_-ava2f-\_

        * \_-ava2b-\_

        * \_-ava3f-\_


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                adjustmentReason: Other
                adjustmentDescription: Test Description
                createTransactionModel:
                  lines:
                  - number: '1'
                    quantity: 1
                    amount: 100
                    taxCode: PS081282
                    itemCode: Y0001
                    description: Yarn
                  type: SalesInvoice
                  companyCode: DEFAULT
                  date: '2023-08-13'
                  customerCode: ABC
                  purchaseOrderNo: 2023-08-13-001
                  addresses:
                    singleLocation:
                      line1: 2000 Main Street
                      city: Irvine
                      region: CA
                      country: US
                      postalCode: '92614'
                  commit: true
                  currencyCode: USD
                  description: Yarn
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2TransactionsCreateoradjust
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/transactions/lines/delete:
    post:
      tags:
      - Transactions
      summary: Avalara DeleteLines
      description: 'Remove lines to an existing unlocked transaction.


        The `DeleteLines` API allows you to remove transaction lines from existing unlocked transaction, so that customer will

        be able to delete transaction lines and adjust original transaction the way they like


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).

        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)


        If you omit the `$include` parameter, the API will assume you want `Summary,Addresses`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                companyCode: DEFAULT
                transactionCode: '1234'
                documentType: SalesInvoice
                lines:
                - '1'
                renumber: false
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesTransactionsLinesDelete
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/AllVariance:
    get:
      tags:
      - Transactions
      summary: Avalara GetAllVarianceReportByCompanyCode
      description: '### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyCodeAllVariance
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/types/{documentType}:
    get:
      tags:
      - Transactions
      summary: Avalara GetTransactionByCodeAndType
      description: 'DEPRECATED: Please use the `GetTransactionByCode` API instead.


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      - name: documentType
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeTypesByDocumentType
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/transactions/{id}:
    get:
      tags:
      - Transactions
      summary: Avalara GetTransactionById
      description: 'Get the unique transaction identified by this URL.


        This endpoint retrieves the exact transaction identified by this ID number, as long as it is the most version of the transaction.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * TaxDetailsByTaxType - Includes the aggregated tax, exempt tax, taxable and non-taxable for each tax type returned in the transaction summary.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2TransactionsById
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionId}/variance:
    get:
      tags:
      - Transactions
      summary: Avalara GetVarianceReportByCompanyCodeByTransactionId
      description: '### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyCodeTransactionsByTransactionIdVariance
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions:
    get:
      tags:
      - Transactions
      summary: Avalara ListTransactionsByCompany
      description: 'List all transactions attached to this company.


        This endpoint is limited to returning 1,000 transactions at a time maximum.


        When listing transactions, you must specify a `date` range filter. If you do not specify a `$filter` that includes a `date` field

        criteria, the query will default to looking at only those transactions with `date` in the past 30 days.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        Search for specific objects using the criteria in the `$filter` parameter; full documentation is available on Filtering in REST .

        Paginate your results using the `$top`, `$skip`, and `$orderby` parameters.


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyCodeTransactions
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/lock:
    post:
      tags:
      - Transactions
      summary: Avalara LockTransaction
      description: 'Lock a transaction uniquely identified by this URL.


        This API is mainly used for connector developers to simulate what happens when the Returns product locks a document.

        After this API call succeeds, the document will be locked and can''t be voided or adjusted.


        On Sandbox, this API is only available to customers who have both an AvaTaxPro and a Managed Returns subscription. On Production, this API is only available internally for the Avalara Returns team.


        If you have more than one document with the same `code`, specify the `documentType` parameter to choose between them.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * TaxDetailsByTaxType - Includes the aggregated tax, exempt tax, taxable and non-taxable for each tax type returned in the transaction summary.


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Returns* (at least one of): Mrs, MRSComplianceManager, AvaTaxCsp.*Firm Managed* (for accounts managed by a firm): ARA, ARAManaged.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                isLocked: true
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeLock
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/refund:
    post:
      tags:
      - Transactions
      summary: Avalara RefundTransaction
      description: 'Create a refund for a transaction.


        The `RefundTransaction` API allows you to quickly and easily create a `ReturnInvoice` representing a refund

        for a previously created `SalesInvoice` transaction. You can choose to create a full or partial refund, and

        specify individual line items from the original sale for refund.


        The `RefundTransaction` API ensures that the tax amount you refund to the customer exactly matches the tax that

        was calculated during the original transaction, regardless of any changes to your company''s configuration, rules,

        nexus, or any other setting.


        This API is intended to be a shortcut to allow you to quickly and accurately generate a refund for the following

        common refund scenarios:


        * A full refund of a previous sale

        * Refunding the tax that was charged on a previous sale, when the customer provides an exemption certificate after the purchase

        * Refunding one or more items (lines) from a previous sale

        * Granting a customer a percentage refund of a previous sale


        For more complex scenarios than the ones above, please use `CreateTransaction` with document type `ReturnInvoice` to

        create a custom refund transaction.


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * TaxDetailsByTaxType - Includes the aggregated tax, exempt tax, taxable and non-taxable for each tax type returned in the transaction summary.

        If you omit the `$include` parameter, the API will assume you want `Summary,Addresses`.


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                refundTransactionCode: 66d322fb-3750-4480-867a-519967282c72
                refundDate: '2023-08-13'
                refundType: Full
                referenceCode: Refund for a committed transaction
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeRefund
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/settle:
    post:
      tags:
      - Transactions
      summary: Avalara SettleTransaction
      description: 'Performs one or more actions against the current transaction uniquely identified by this URL.


        The `SettleTransaction` API call can perform the work of `ChangeCode`, `VerifyTransaction`, and `CommitTransaction`.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        If you have more than one document with the same `code`, specify the `documentType` parameter to choose between them.


        This API is available for users who want to execute more than one action at a time.


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * TaxDetailsByTaxType - Includes the aggregated tax, exempt tax, taxable and non-taxable for each tax type returned in the transaction summary.


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, ProStoresOperator, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                verify:
                  verifyTransactionDate: '2023-08-13T00:00:00+00:00'
                  verifyTotalAmount: 100
                  verifyTotalTax: 6.25
                changeCode:
                  newCode: 5a2b98a6-3ff8-4d01-a841-64edca608c69
                commit:
                  commit: true
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeSettle
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/uncommit:
    post:
      tags:
      - Transactions
      summary: Avalara UncommitTransaction
      description: 'Adjusts a transaction by changing it to an uncommitted status.


        Transactions that have been previously reported to a tax authority by Avalara Managed Returns are considered `locked` and are

        no longer available to be uncommitted.


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * TaxDetailsByTaxType - Includes the aggregated tax, exempt tax, taxable and non-taxable for each tax type returned in the transaction summary.


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: ''
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeUncommit
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/unvoid:
    post:
      tags:
      - Transactions
      summary: Avalara UnvoidTransaction
      description: 'Unvoids a voided transaction


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * TaxDetailsByTaxType - Includes the aggregated tax, exempt tax, taxable and non-taxable for each tax type returned in the transaction summary.


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: ''
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeUnvoid
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/variance:
    post:
      tags:
      - Transactions
      summary: Avalara VarianceReport
      description: '### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: {}
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyCodeVariance
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyCode}/transactions/{transactionCode}/verify:
    post:
      tags:
      - Transactions
      summary: Avalara VerifyTransaction
      description: 'Verifies that the transaction uniquely identified by this URL matches certain expected values.


        If the transaction does not match these expected values, this API will return an error code indicating which value did not match.


        If you have more than one document with the same `code`, specify the `documentType` parameter to choose between them.


        A transaction represents a unique potentially taxable action that your company has recorded, and transactions include actions like

        sales, purchases, inventory transfer, and returns (also called refunds).


        You may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:


        * Lines

        * Details (implies lines)

        * AccountPayableSalesTaxDetails (implies lines - only for Account Payable transaction)

        * Summary (implies details)

        * Addresses

        * SummaryOnly (omit lines and details - reduces API response size)

        * LinesOnly (omit details - reduces API response size)

        * TaxDetailsByTaxType - Includes the aggregated tax, exempt tax, taxable and non-taxable for each tax type returned in the transaction summary.


        NOTE: If your companyCode or transactionCode contains any of these characters /, +, ? or a space please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: document/Code becomes document_-ava2f-_Code

        * Replace ''+'' with ''\_-ava2b-\_'' For example: document+Code becomes document_-ava2b-_Code

        * Replace ''?'' with ''\_-ava3f-\_'' For example: document?Code becomes document_-ava3f-_Code

        * Replace ''%'' with ''\_-ava25-\_'' For example: document%Code becomes document_-ava25-_Code

        * Replace ''#'' with ''\_-ava23-\_'' For example: document#Code becomes document_-ava23-_Code

        * Replace '' '' with ''%20'' For example: document Code becomes document%20Code


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, ProStoresOperator, SSTAdmin, TechnicalSupportAdmin.

        * This API depends on the following active services:*Required* (all): AvaTaxPro, BasicReturns.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                verifyTransactionDate: '2023-08-13T00:00:00+00:00'
                verifyTotalAmount: 100
                verifyTotalTax: 6.25
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyCode
        in: path
        schema:
          type: string
        required: true
      - name: transactionCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyCodeTransactionsByTransactionCodeVerify
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
components:
  schemas:
    ErrorResult:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            target:
              type: string
              description: The component that generated the error
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  number:
                    type: integer
                  message:
                    type: string
                  description:
                    type: string
                  faultCode:
                    type: string
                  helpLink:
                    type: string
                  severity:
                    type: string
                    enum:
                    - Error
                    - Warning
                    - Exception
    TransactionSummary:
      type: object
      properties:
        country:
          type: string
        region:
          type: string
        jurisType:
          type: string
        jurisCode:
          type: string
        jurisName:
          type: string
        taxType:
          type: string
        rate:
          type: number
          format: double
        tax:
          type: number
          format: double
        taxable:
          type: number
          format: double
        exempt:
          type: number
          format: double
    VoidTransactionModel:
      type: object
      required:
      - code
      properties:
        code:
          type: string
          enum:
          - Unspecified
          - PostFailed
          - DocDeleted
          - DocVoided
          - AdjustmentCancelled
          description: Reason for voiding the transaction
    CommitTransactionModel:
      type: object
      required:
      - commit
      properties:
        commit:
          type: boolean
          description: Set to true to commit the transaction
    CreateTransactionModel:
      type: object
      required:
      - type
      - companyCode
      - date
      - customerCode
      - lines
      properties:
        type:
          type: string
          enum:
          - SalesOrder
          - SalesInvoice
          - PurchaseOrder
          - PurchaseInvoice
          - ReturnOrder
          - ReturnInvoice
          description: The type of document to create
        companyCode:
          type: string
          description: Company code of the company creating this transaction
        date:
          type: string
          format: date
          description: Date of the transaction
        customerCode:
          type: string
          description: Unique code identifying the customer
        commit:
          type: boolean
          default: false
          description: Whether to commit the transaction immediately
        currencyCode:
          type: string
          description: Three-character ISO 4217 currency code
        addresses:
          type: object
          properties:
            shipFrom:
              $ref: '#/components/schemas/AddressInfo'
            shipTo:
              $ref: '#/components/schemas/AddressInfo'
            pointOfOrderOrigin:
              $ref: '#/components/schemas/AddressInfo'
            pointOfOrderAcceptance:
              $ref: '#/components/schemas/AddressInfo'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LineItemModel'
          description: Line items for the transaction
    TransactionLineModel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        lineNumber:
          type: string
        lineAmount:
          type: number
          format: double
        tax:
          type: number
          format: double
        taxableAmount:
          type: number
          format: double
        exemptAmount:
          type: number
          format: double
        taxCode:
          type: string
        itemCode:
          type: string
    RefundTransactionModel:
      type: object
      required:
      - refundTransactionCode
      - refundDate
      - refundType
      properties:
        refundTransactionCode:
          type: string
        refundDate:
          type: string
          format: date
        refundType:
          type: string
          enum:
          - Full
          - Partial
          - Percentage
          - TaxOnly
        refundPercentage:
          type: number
          format: double
        refundLines:
          type: array
          items:
            type: string
    LineItemModel:
      type: object
      required:
      - amount
      properties:
        number:
          type: string
          description: Line number within the transaction
        quantity:
          type: number
          format: double
          default: 1
          description: Quantity of items
        amount:
          type: number
          format: double
          description: Total amount for this line
        taxCode:
          type: string
          description: Tax code for this line item
        itemCode:
          type: string
          description: Item code for the product or service
        description:
          type: string
          description: Description of the line item
        addresses:
          type: object
          properties:
            shipFrom:
              $ref: '#/components/schemas/AddressInfo'
            shipTo:
              $ref: '#/components/schemas/AddressInfo'
        exemptionCode:
          type: string
          description: Exemption code for tax-exempt purchases
    AddressInfo:
      type: object
      properties:
        line1:
          type: string
          description: Street address line 1
        line2:
          type: string
          description: Street address line 2
        line3:
          type: string
          description: Street address line 3
        city:
          type: string
          description: City name
        region:
          type: string
          description: State, province, or region code
        postalCode:
          type: string
          description: Postal code or ZIP code
        country:
          type: string
          description: Two-character ISO 3166 country code
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    TransactionAddressModel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        line1:
          type: string
        city:
          type: string
        region:
          type: string
        postalCode:
          type: string
        country:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    TransactionModel:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique ID of the transaction
        code:
          type: string
          description: Transaction code
        companyId:
          type: integer
          description: Company ID that owns this transaction
        date:
          type: string
          format: date
          description: Date of the transaction
        status:
          type: string
          enum:
          - Temporary
          - Saved
          - Posted
          - Committed
          - Cancelled
          - Adjusted
          description: Current status of the transaction
        type:
          type: string
          description: Document type
        totalAmount:
          type: number
          format: double
          description: Total amount of the transaction before tax
        totalTax:
          type: number
          format: double
          description: Total tax calculated for the transaction
        totalTaxable:
          type: number
          format: double
          description: Total taxable amount
        totalExempt:
          type: number
          format: double
          description: Total exempt amount
        lines:
          type: array
          items:
            $ref: '#/components/schemas/TransactionLineModel'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/TransactionAddressModel'
        summary:
          type: array
          items:
            $ref: '#/components/schemas/TransactionSummary'
    AdjustTransactionModel:
      type: object
      required:
      - adjustmentReason
      - newTransaction
      properties:
        adjustmentReason:
          type: string
          enum:
          - NotAdjusted
          - SourcingIssue
          - ReconciledWithGeneralLedger
          - ExemptCertApplied
          - PriceAdjusted
          - ProductReturned
          - ProductExchanged
          - BadDebt
          - Other
        adjustmentDescription:
          type: string
        newTransaction:
          $ref: '#/components/schemas/CreateTransactionModel'
    ExciseTransaction:
      type: object
      properties:
        transactionId:
          type: string
        invoiceNumber:
          type: string
        transactionDate:
          type: string
          format: date
        transactionType:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Committed
          - Voided
        totalAmount:
          type: number
          format: double
        totalTax:
          type: number
          format: double
    TransactionBatch:
      type: object
      properties:
        companyId:
          type: string
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/VATTransaction'
    VATTransaction:
      type: object
      properties:
        transactionId:
          type: string
        transactionDate:
          type: string
          format: date
        transactionType:
          type: string
          enum:
          - Sale
          - Purchase
          - IntraCommunitySupply
          - IntraCommunityAcquisition
          - Export
          - Import
        invoiceNumber:
          type: string
        supplierVATNumber:
          type: string
        customerVATNumber:
          type: string
        countryCode:
          type: string
        netAmount:
          type: number
          format: double
        vatRate:
          type: number
          format: double
        vatAmount:
          type: number
          format: double
        currency:
          type: string
  parameters:
    companyCode:
      name: companyCode
      in: path
      required: true
      schema:
        type: string
      description: The company code identifying the company
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResult'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication
    basicAuth:
      type: http
      scheme: basic
      description: Use your AvaTax username/password or accountId/licenseKey as basic auth credentials
x-refined-from:
- avalara-avatax-brazil-openapi.yml
- avalara-avatax-rest-openapi.yml
- avalara-excise-openapi.yml
- avalara-vat-reporting-openapi.yml
- avatax-apis-openapi.yml
