openapi: 3.1.0
info:
  title: Avalara E-Invoicing REST Interop API
  description: The Avalara E-Invoicing REST API supports electronic invoicing compliance workflows for cross-border and domestic transactions. It enables submission, validation, and management of e-invoices in compliance with mandates from tax authorities worldwide, supporting formats like UBL, Peppol, and country-specific standards.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/einvoicing/v1
  description: E-Invoicing API Production
- url: https://api.sbx.avalara.com/einvoicing/v1
  description: E-Invoicing API Sandbox
security:
- bearerAuth: []
tags:
- name: Interop
  description: Interoperability and network exchange
paths:
  /interop/documents:
    post:
      operationId: submitInteropDocument
      summary: Avalara Submit a Document via Interoperability Network
      description: Submits a document through the interoperability network (e.g., Peppol) for delivery to the recipient.
      tags:
      - Interop
      parameters:
      - name: avalara-version
        in: header
        required: true
        schema:
          type: string
          default: '1.0'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteropDocumentRequest'
      responses:
        '202':
          description: Document accepted for interop delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentSubmissionResponse'
components:
  schemas:
    DocumentSubmissionResponse:
      type: object
      properties:
        id:
          type: string
          description: Document submission ID
        status:
          type: string
          enum:
          - Pending
          - Accepted
          - Rejected
          - Error
        statusDate:
          type: string
          format: date-time
    InteropDocumentRequest:
      type: object
      required:
      - dataFormat
      - data
      - recipientIdentifier
      properties:
        dataFormat:
          type: string
        data:
          type: string
        recipientIdentifier:
          type: string
          description: Recipient identifier on the interop network
        recipientIdentifierScheme:
          type: string
          description: Identifier scheme (e.g., peppol)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: E-Invoicing API Documentation
  url: https://developer.avalara.com/api-reference/e-invoicing/v1.0
