openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms Onboarding API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: Onboarding
  description: Onboard companies for VAT reporting
paths:
  /onboarding:
    post:
      operationId: onboardCompany
      summary: Avalara Onboard a Company for VAT Reporting
      description: Initiates the onboarding process for a company to begin VAT reporting in one or more jurisdictions.
      tags:
      - Onboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRequest'
      responses:
        '201':
          description: Onboarding initiated
components:
  schemas:
    OnboardingRequest:
      type: object
      required:
      - companyId
      - countries
      properties:
        companyId:
          type: string
        companyName:
          type: string
        countries:
          type: array
          items:
            type: object
            properties:
              countryCode:
                type: string
              vatRegistrationNumber:
                type: string
              filingFrequency:
                type: string
                enum:
                - Monthly
                - Quarterly
                - Annual
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
