openapi: 3.2.0
info:
  title: Avalara Customers API
  version: '1.0'
  description: 'Operations tagged Customers across 3 of this provider''s published API definitions: avalara-avatax-rest-openapi.yml, avalara-certcapture-openapi.yml, avatax-apis-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.avatax.com
  description: AvaTax Production
- url: https://sandbox-rest.avatax.com
  description: AvaTax Sandbox
- url: https://api.certcapture.com/v2
  description: CertCapture API Production
- url: http://{{baseurl}}
tags:
- name: Customers
  description: Manage customer records and their certificate associations
paths:
  /api/v2/companies/{companyId}/customers:
    get:
      operationId: queryCustomers
      summary: Avalara List Customers for a Company
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchResult_CustomerModel'
      security:
      - basicAuth: []
      - bearerAuth: []
    post:
      operationId: createCustomer
      summary: Avalara Create a New Customer
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CustomerModel'
      responses:
        '201':
          description: Customer created
      security:
      - basicAuth: []
      - bearerAuth: []
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /customers:
    get:
      operationId: listCustomers
      summary: Avalara List Customers
      tags:
      - Customers
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResponse'
      security:
      - basicAuth: []
    post:
      operationId: createCustomer
      summary: Avalara Create a Customer
      tags:
      - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertCaptureCustomer'
      responses:
        '201':
          description: Customer created
      security:
      - basicAuth: []
    servers:
    - url: https://api.certcapture.com/v2
      description: CertCapture API Production
  /customers/{customerId}:
    get:
      operationId: getCustomer
      summary: Avalara Get a Customer by ID
      tags:
      - Customers
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertCaptureCustomer'
      security:
      - basicAuth: []
    put:
      operationId: updateCustomer
      summary: Avalara Update a Customer
      tags:
      - Customers
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertCaptureCustomer'
      responses:
        '200':
          description: Customer updated
      security:
      - basicAuth: []
    servers:
    - url: https://api.certcapture.com/v2
      description: CertCapture API Production
  /customers/{customerId}/certificates:
    get:
      operationId: getCustomerCertificates
      summary: Avalara List Certificates for a Customer
      tags:
      - Customers
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of customer certificates
      security:
      - basicAuth: []
    servers:
    - url: https://api.certcapture.com/v2
      description: CertCapture API Production
  /api/v2/companies/{companyId}/customers/{customerCode}:
    delete:
      tags:
      - Customers
      summary: Avalara DeleteCustomer
      description: 'Deletes the customer object referenced by this URL.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this `customer` object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdCustomersByCustomerCode
      x-operation-id-source: derived
    get:
      tags:
      - Customers
      summary: Avalara GetCustomer
      description: 'Retrieve the customer identified by this URL.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this customer object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        You can use the `$include` parameter to fetch the following additional objects for expansion:


        * Certificates - Fetch a list of certificates linked to this customer.

        * CustomFields - Fetch a list of custom fields associated to this customer.

        * attributes - Retrieves all attributes applied to the customer.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdCustomersByCustomerCode
      x-operation-id-source: derived
    put:
      tags:
      - Customers
      summary: Avalara UpdateCustomer
      description: 'Replace the customer object at this URL with a new record.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this `customer` object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                companyId: 0
                customerCode: ae304e4c-9926-4ab3-8a12-267a59c05cd5
                alternateId: '987654321'
                name: Dr. Bob Example
                attnName: 'Attn: Receiving'
                line1: 645 Main Street
                city: Irvine
                postalCode: '92614'
                phoneNumber: (949) 555-1212
                faxNumber: 949.555.1213
                emailAddress: dr.bob.example@example.org
                contactName: Alice Smith
                lastTransaction: '2008-10-08T00:00:00'
                country: US
                region: CA
                exposureZones:
                - name: Washington
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: putApiV2CompaniesByCompanyIdCustomersByCustomerCode
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/customers/{customerCode}/attributes/link:
    put:
      tags:
      - Customers
      summary: Avalara LinkAttributesToCustomer
      description: 'Link one or many attributes to a customer.


        A customer may have multiple attributes that control its behavior. You may link or unlink attributes to a

        customer at any time. The full list of defined attributes may be found using `QueryCompanyCustomerAttributes` API.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this customer object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 1
                name: ADDRESS CHANGE NEEDED
                description: Customer address change is needed.
                isSystemCode: false
                isNonDeliver: true
                isChangeable: true
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: putApiV2CompaniesByCompanyIdCustomersByCustomerCodeAttributesLink
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/customers/{customerCode}/certificates/link:
    post:
      tags:
      - Customers
      summary: Avalara LinkCertificatesToCustomer
      description: 'Link one or more certificates to a customer.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this `customer` object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                certificates:
                - 1
                - 3
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdCustomersByCustomerCodeCertificatesLink
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/customers/billto/{code}/shipto/link:
    post:
      tags:
      - Customers
      summary: Avalara LinkShipToCustomersToBillCustomer
      description: 'Links a Ship-To customer record with a Bill-To customer record.


        Customer records represent businesses or individuals who can provide exemption certificates. Some customers

        may have certificates that are linked to their shipping address or their billing address. To group these

        customer records together, you may link multiple bill-to and ship-to addresses together to represent a single

        entity that has multiple different addresses of different kinds.


        In general, a customer will have only one primary billing address and multiple ship-to addresses, representing

        all of the different locations where they receive goods. To facilitate this type of customer, you can send in

        one bill-to customer code and multiple ship-to customer codes in a single API call.


        Note that you can only link a ship-to customer record to a bill-to customer record. You may not link two customers

        of the same kind together.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                customers:
                - '123456789'
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: code
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdCustomersBilltoByCodeShiptoLink
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/customers/{customerCode}/attributes:
    get:
      tags:
      - Customers
      summary: Avalara ListAttributesForCustomer
      description: 'Retrieve the attributes linked to the customer identified by this URL.


        A customer may have multiple attributes that control its behavior. You may link or unlink attributes to a

        customer at any time. The full list of defined attributes may be found using `QueryCompanyCustomerAttributes` API.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this customer object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdCustomersByCustomerCodeAttributes
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/customers/{customerCode}/certificates:
    get:
      tags:
      - Customers
      summary: Avalara ListCertificatesForCustomer
      description: 'List all certificates linked to a customer.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this `customer` object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdCustomersByCustomerCodeCertificates
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/customers/{customerCode}/certificates/{country}/{region}:
    get:
      tags:
      - Customers
      summary: Avalara ListValidCertificatesForCustomer
      description: 'List valid certificates linked to a customer in a particular country and region.


        This API is intended to help identify whether a customer has already provided a certificate that

        applies to a particular country and region. This API is intended to help you remind a customer

        when they have or have not provided copies of their exemption certificates to you during the sales

        order process.


        If a customer does not have a certificate on file and they wish to provide one, you should send the customer

        a CertExpress invitation link so that the customer can upload proof of their exemption certificate. Please

        see the `CreateCertExpressInvitation` API to create an invitation link for this customer.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      - name: country
        in: path
        schema:
          type: string
        required: true
      - name: region
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdCustomersByCustomerCodeCertificatesByCountryByRegion
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/customers/{customerCode}/attributes/unlink:
    put:
      tags:
      - Customers
      summary: Avalara UnlinkAttributesFromCustomer
      description: 'Unlink one or many attributes from a customer.


        A customer may have multiple attributes that control its behavior. You may link or unlink attributes to a

        customer at any time. The full list of defined attributes may be found using `QueryCompanyCustomerAttributes` API.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this customer object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 1
                name: ADDRESS CHANGE NEEDED
                description: Customer address change is needed.
                isSystemCode: false
                isNonDeliver: true
                isChangeable: true
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: putApiV2CompaniesByCompanyIdCustomersByCustomerCodeAttributesUnlink
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/customers/{customerCode}/certificates/unlink:
    post:
      tags:
      - Customers
      summary: Avalara UnlinkCertificatesFromCustomer
      description: 'Remove one or more certificates to a customer.


        A customer object defines information about a person or business that purchases products from your

        company. When you create a tax transaction in AvaTax, you can use the `customerCode` from this

        record in your `CreateTransaction` API call. AvaTax will search for this `customerCode` value and

        identify any certificates linked to this `customer` object. If any certificate applies to the transaction,

        AvaTax will record the appropriate elements of the transaction as exempt and link it to the `certificate`.


        Before you can use any exemption certificates endpoints, you must set up your company for exemption certificate data storage.

        Companies that do not have this storage system set up will see `CertCaptureNotConfiguredError` when they call exemption

        certificate related APIs. To check if this is set up for a company, call `GetCertificateSetup`. To request setup of exemption

        certificate storage for this company, call `RequestCertificateSetup`.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.

        * This API depends on the following active services:*Required* (all): AvaTaxPro.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                certificates:
                - 1
                - 3
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: customerCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdCustomersByCustomerCodeCertificatesUnlink
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
components:
  schemas:
    CustomerModel:
      type: object
      properties:
        id:
          type: integer
        companyId:
          type: integer
        customerCode:
          type: string
        name:
          type: string
        line1:
          type: string
        city:
          type: string
        region:
          type: string
        postalCode:
          type: string
        country:
          type: string
        emailAddress:
          type: string
        phoneNumber:
          type: string
    FetchResult_CustomerModel:
      type: object
      properties:
        '@recordsetCount':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/CustomerModel'
    CertCaptureCustomer:
      type: object
      properties:
        id:
          type: string
        customerCode:
          type: string
        name:
          type: string
        line1:
          type: string
        city:
          type: string
        region:
          type: string
        postalCode:
          type: string
        country:
          type: string
        emailAddress:
          type: string
        phoneNumber:
          type: string
    CustomerListResponse:
      type: object
      properties:
        totalCount:
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/CertCaptureCustomer'
  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      schema:
        type: integer
      description: The numeric ID of the company
    skip:
      name: $skip
      in: query
      schema:
        type: integer
        default: 0
      description: Number of results to skip for pagination
    filter:
      name: $filter
      in: query
      schema:
        type: string
      description: OData filter expression for result filtering
    top:
      name: $top
      in: query
      schema:
        type: integer
        default: 1000
      description: Maximum number of results to return
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AvaTax username/password or accountId/licenseKey as basic auth credentials
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
x-refined-from:
- avalara-avatax-rest-openapi.yml
- avalara-certcapture-openapi.yml
- avatax-apis-openapi.yml
