openapi: 3.2.0
info:
  title: Avalara Items API
  version: '1.0'
  description: 'Operations tagged Items across 2 of this provider''s published API definitions: avalara-avatax-rest-openapi.yml, avatax-apis-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.avatax.com
  description: AvaTax Production
- url: https://sandbox-rest.avatax.com
  description: AvaTax Sandbox
- url: http://{{baseurl}}
tags:
- name: Items
  description: Manage product items and their tax classification
paths:
  /api/v2/companies/{companyId}/items:
    get:
      operationId: queryItems
      summary: Avalara List Items for a Company
      tags:
      - Items
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      responses:
        '200':
          description: List of items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchResult_ItemModel'
      security:
      - basicAuth: []
      - bearerAuth: []
    post:
      operationId: createItems
      summary: Avalara Create Items for a Company
      tags:
      - Items
      parameters:
      - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ItemModel'
      responses:
        '201':
          description: Items created
      security:
      - basicAuth: []
      - bearerAuth: []
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /api/v2/companies/{companyId}/items/{itemId}/classifications:
    delete:
      tags:
      - Items
      summary: Avalara BatchDeleteItemClassifications
      description: 'Delete all the classifications for a given item.


        A classification is the code for a product in a particular tax system. Classifications enable an item to be used in multiple tax systems which may have different tax rates for a product.


        When an item is used in a transaction, the applicable classification will be used to determine the appropriate tax rate.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdItemsByItemIdClassifications
      x-operation-id-source: derived
    post:
      tags:
      - Items
      summary: Avalara CreateItemClassifications
      description: 'Add classifications to an item.


        A classification is the code for a product in a particular tax system. Classifications enable an item to be used in multiple tax systems which may have different tax rates for a product.


        When an item is used in a transaction, the applicable classification will be used to determine the appropriate tax rate.


        An item may only have one classification per tax system.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                productCode: '9011900000'
                systemCode: TARIC
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdItemsByItemIdClassifications
      x-operation-id-source: derived
    get:
      tags:
      - Items
      summary: Avalara ListItemClassifications
      description: 'List classifications for an item.


        A classification is the code for a product in a particular tax system. Classifications enable an item to be used in multiple tax systems which may have different tax rates for a product.


        When an item is used in a transaction, the applicable classification will be used to determine the appropriate tax rate.


        Search for specific objects using the criteria in the `$filter` classification; full documentation is available on Filtering in REST .

        Paginate your results using the `$top`, `$skip`, and `$orderby` classifications.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsByItemIdClassifications
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/{itemId}/parameters:
    delete:
      tags:
      - Items
      summary: Avalara BatchDeleteItemParameters
      description: 'Delete all the parameters for a given item.


        Some items can be taxed differently depending on the properties of that item, such as the item grade or by a particular measurement of that item. In AvaTax, these tax-affecting properties are called "parameters".


        A parameter added to an item will be used by default in tax calculation but will not show on the transaction line referencing the item .


        A parameter specified on a transaction line will override an item parameter if they share the same parameter name.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdItemsByItemIdParameters
      x-operation-id-source: derived
    post:
      tags:
      - Items
      summary: Avalara CreateItemParameters
      description: 'Add parameters to an item.


        Some items can be taxed differently depending on the properties of that item, such as the item grade or by a particular measurement of that item. In AvaTax, these tax-affecting properties are called "parameters".


        A parameter added to an item will be used by default in tax calculation but will not show on the transaction line referencing the item .


        A parameter specified on a transaction line will override an item parameter if they share the same parameter name.


        To see available parameters for this item, call `/api/v2/definitions/parameters?$filter=attributeType eq Product`


        Some parameters are only available for use if you have subscribed to specific AvaTax services. To see which parameters you are able to use, add the query parameter "$showSubscribed=true" to the parameter definition call above.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 0
                name: ScreenSize
                value: '24'
                unit: inch
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdItemsByItemIdParameters
      x-operation-id-source: derived
    get:
      tags:
      - Items
      summary: Avalara ListItemParameters
      description: 'List parameters for an item.


        Some items can be taxed differently depending on the properties of that item, such as the item grade or by a particular measurement of that item. In AvaTax, these tax-affecting properties are called "parameters".


        A parameter added to an item will be used by default in tax calculation but will not show on the transaction line referencing the item .


        A parameter specified on a transaction line will override an item parameter if they share the same parameter name.


        Search for specific objects using the criteria in the `$filter` parameter; full documentation is available on Filtering in REST .

        Paginate your results using the `$top`, `$skip`, and `$orderby` parameters.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsByItemIdParameters
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/upload:
    post:
      tags:
      - Items
      summary: Avalara BulkUploadItems
      description: 'Create/Update one or more item objects attached to this company.


        Items are a way of separating your tax calculation process from your tax configuration details. If you choose, you

        can provide `itemCode` values for each `CreateTransaction()` API call rather than specifying tax codes, parameters, descriptions,

        and other data fields. AvaTax will automatically look up each `itemCode` and apply the correct tax codes and parameters

        from the item table instead. This allows your CreateTransaction call to be as simple as possible, and your tax compliance

        team can manage your item catalog and adjust the tax behavior of items without having to modify your software.


        The tax code takes precedence over the tax code id if both are provided.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                items:
                - id: 0
                  companyId: 0
                  itemCode: CHIP1041
                  taxCode: PF051578
                  description: Potato Chips
                  itemGroup: Packaged Food
                  parameters:
                  - id: 0
                    name: ScreenSize
                    value: '24'
                    unit: inch
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdItemsUpload
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/{itemId}/tags:
    post:
      tags:
      - Items
      summary: Avalara CreateItemTags
      description: 'Creates one or more new `Tag` objects attached to this Item.


        Item tags puts multiple labels for an item. So that item can be easily grouped by these tags.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                tagName: Import_Restricted
                itemId: 151284220
                companyId: 8010687
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdItemsByItemIdTags
      x-operation-id-source: derived
    delete:
      tags:
      - Items
      summary: Avalara DeleteItemTags
      description: 'Deletes all `Tags` objects of an Item at this URL.


        Item tags puts multiple labels for an item. So that item can be easily grouped by these tags.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdItemsByItemIdTags
      x-operation-id-source: derived
    get:
      tags:
      - Items
      summary: Avalara GetItemTags
      description: 'Get the `Tag` objects of an Item identified by this URL.


        Item tags puts multiple labels for an item. So that item can be easily grouped by these tags.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsByItemIdTags
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/classificationrequests/taxcode:
    post:
      tags:
      - Items
      summary: Avalara CreateTaxCodeClassificationRequest
      description: 'Creates a new tax code classification request.


        Avalara AvaTax system tax codes represent various goods and services classified by industry or consumer categories and

        major physical similarities. Taxability rules are associated with tax codes. Customers can map their Items to tax codes

        allowing them to take advantage of thousands of tax rules in the AvaTax engine resulting in accurate taxability determinations.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                classifyAllItems: false
                itemIds:
                - 987654
                - 876543
                - 765432
                productCategories:
                - Food and beverage > Alcohol
                - Food and beverage > Beverages
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdClassificationrequestsTaxcode
      x-operation-id-source: derived
    get:
      tags:
      - Items
      summary: Avalara GetClassificationStatus
      description: 'Get status of tax code classification requests of a company.


        Avalara AvaTax system tax codes represent various goods and services classified by industry or consumer categories and

        major physical similarities. Taxability rules are associated with tax codes. Customers can map their Items to tax codes

        allowing them to take advantage of thousands of tax rules in the AvaTax engine resulting in accurate taxability determinations.


        Enable includeClassificationDetails flag to get details of classification request status.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdClassificationrequestsTaxcode
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/itemcatalogue/{itemCode}:
    delete:
      tags:
      - Items
      summary: Avalara DeleteCatalogueItem
      description: 'Deletes the item object at this URL.


        Items are a way of separating your tax calculation process from your tax configuration details.

        Use this endpoint to delete an existing item with item code.


        Deleting an item will also delete the parameters, classifications, and product categories associated with that item.


        NOTE: If your item code contains any of these characters /, +, ? or a space, please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: ''Item/Code'' becomes ''Item_-ava2f-_Code''

        * Replace ''+'' with ''\_-ava2b-\_'' For example: ''Item+Code'' becomes ''Item_-ava2b-_Code''

        * Replace ''?'' with ''\_-ava3f-\_'' For example: ''Item?Code'' becomes ''Item_-ava3f-_Code''

        * Replace ''%'' with ''\_-ava25-\_'' For example: ''Item%Code'' becomes ''Item_-ava25-_Code''

        * Replace ''#'' with ''\_-ava23-\_'' For example: ''Item#Code'' becomes ''Item_-ava23-_Code''

        * Replace '''''' with ''\_-ava27-\_'' For example: ''Item''Code'' becomes ''Item_-ava27-_Code''

        * Replace ''"'' with ''\_-ava22-\_'' For example: ''Item"Code'' becomes ''Item_-ava22-_Code''


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdItemcatalogueByItemCode
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/{id}:
    delete:
      tags:
      - Items
      summary: Avalara DeleteItem
      description: 'Deletes the item object at this URL.


        Items are a way of separating your tax calculation process from your tax configuration details. If you choose, you

        can provide `itemCode` values for each `CreateTransaction()` API call rather than specifying tax codes, parameters, descriptions,

        and other data fields. AvaTax will automatically look up each `itemCode` and apply the correct tax codes and parameters

        from the item table instead. This allows your CreateTransaction call to be as simple as possible, and your tax compliance

        team can manage your item catalog and adjust the tax behavior of items without having to modify your software.


        Deleting an item will also delete the parameters and classifications associated with that item.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdItemsById
      x-operation-id-source: derived
    get:
      tags:
      - Items
      summary: Avalara GetItem
      description: 'Get the `Item` object identified by this URL.


        Items are a way of separating your tax calculation process from your tax configuration details. If you choose, you

        can provide `itemCode` values for each `CreateTransaction()` API call rather than specifying tax codes, parameters, descriptions,

        and other data fields. AvaTax will automatically look up each `itemCode` and apply the correct tax codes and parameters

        from the item table instead. This allows your CreateTransaction call to be as simple as possible, and your tax compliance

        team can manage your item catalog and adjust the tax behavior of items without having to modify your software.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsById
      x-operation-id-source: derived
    put:
      tags:
      - Items
      summary: Avalara UpdateItem
      description: 'Replace the existing `Item` object at this URL with an updated object.


        Items are a way of separating your tax calculation process from your tax configuration details. If you choose, you

        can provide `itemCode` values for each `CreateTransaction()` API call rather than specifying tax codes, parameters, descriptions,

        and other data fields. AvaTax will automatically look up each `itemCode` and apply the correct tax codes and parameters

        from the item table instead. This allows your CreateTransaction call to be as simple as possible, and your tax compliance

        team can manage your item catalog and adjust the tax behavior of items without having to modify your software.


        All data from the existing object will be replaced with data in the object you PUT. To set a field''s value to null,

        you may either set its value to null or omit that field from the object you post.


        The tax code takes precedence over the tax code id if both are provided.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 56789
                companyId: 12345
                itemCode: CERMUG
                taxCode: P0000000
                description: Ceramic Mug
                itemGroup: Mugs
                category: Home > Kitchen > Mugs
                classifications:
                - productCode: '9011900000'
                  systemCode: TARIC
                  isPremium: false
                parameters:
                - id: 0
                  name: ScreenSize
                  value: '24'
                  unit: inch
                properties:
                  color: white
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: putApiV2CompaniesByCompanyIdItemsById
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/{itemId}/classifications/{id}:
    delete:
      tags:
      - Items
      summary: Avalara DeleteItemClassification
      description: 'Delete a single item classification.


        A classification is the code for a product in a particular tax system. Classifications enable an item to be used in multiple tax systems which may have different tax rates for a product.


        When an item is used in a transaction, the applicable classification will be used to determine the appropriate tax rate.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdItemsByItemIdClassificationsById
      x-operation-id-source: derived
    get:
      tags:
      - Items
      summary: Avalara GetItemClassification
      description: 'Retrieve a single item classification.


        A classification is the code for a product in a particular tax system. Classifications enable an item to be used in multiple tax systems which may have different tax rates for a product.


        When an item is used in a transaction, the applicable classification will be used to determine the appropriate tax rate.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsByItemIdClassificationsById
      x-operation-id-source: derived
    put:
      tags:
      - Items
      summary: Avalara UpdateItemClassification
      description: 'Update an item classification.


        A classification is the code for a product in a particular tax system. Classifications enable an item to be used in multiple tax systems which may have different tax rates for a product.


        When an item is used in a transaction, the applicable classification will be used to determine the appropriate tax rate.


        An item may only have one classification per tax system.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                productCode: '9011900000'
                systemCode: TARIC
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: putApiV2CompaniesByCompanyIdItemsByItemIdClassificationsById
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/{itemId}/parameters/{id}:
    delete:
      tags:
      - Items
      summary: Avalara DeleteItemParameter
      description: 'Delete a single item parameter.


        Some items can be taxed differently depending on the properties of that item, such as the item grade or by a particular measurement of that item. In AvaTax, these tax-affecting properties are called "parameters".


        A parameter added to an item will be used by default in tax calculation but will not show on the transaction line referencing the item .


        A parameter specified on a transaction line will override an item parameter if they share the same parameter name.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdItemsByItemIdParametersById
      x-operation-id-source: derived
    get:
      tags:
      - Items
      summary: Avalara GetItemParameter
      description: 'Retrieve a single item parameter.


        Some items can be taxed differently depending on the properties of that item, such as the item grade or by a particular measurement of that item. In AvaTax, these tax-affecting properties are called "parameters".


        A parameter added to an item will be used by default in tax calculation but will not show on the transaction line referencing the item .


        A parameter specified on a transaction line will override an item parameter if they share the same parameter name.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsByItemIdParametersById
      x-operation-id-source: derived
    put:
      tags:
      - Items
      summary: Avalara UpdateItemParameter
      description: 'Update an item parameter.


        Some items can be taxed differently depending on the properties of that item, such as the item grade or by a particular measurement of that item. In AvaTax, these tax-affecting properties are called "parameters".


        A parameter added to an item will be used by default in tax calculation but will not show on the transaction line referencing the item .


        A parameter specified on a transaction line will override an item parameter if they share the same parameter name.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 0
                name: ScreenSize
                value: '24'
                unit: inch
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: putApiV2CompaniesByCompanyIdItemsByItemIdParametersById
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/{itemId}/tags/{itemTagDetailId}:
    delete:
      tags:
      - Items
      summary: Avalara DeleteItemTag
      description: 'Deletes the `Tag` object of an Item at this URL.


        Item tags puts multiple labels for an item. So that item can be easily grouped by these tags.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemId
        in: path
        schema:
          type: string
        required: true
      - name: itemTagDetailId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdItemsByItemIdTagsByItemTagDetailId
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/{itemCode}/premiumClassification/{systemCode}:
    get:
      tags:
      - Items
      summary: Avalara GetPremiumClassification
      description: 'Retrieves the premium classification for an ItemCode and SystemCode.


        NOTE: If your item code contains any of these characters /, +, ?,",'' ,% or #, please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: ''Item/Code'' becomes ''Item_-ava2f-_Code''

        * Replace ''+'' with ''\_-ava2b-\_'' For example: ''Item+Code'' becomes ''Item_-ava2b-_Code''

        * Replace ''?'' with ''\_-ava3f-\_'' For example: ''Item?Code'' becomes ''Item_-ava3f-_Code''

        * Replace ''%'' with ''\_-ava25-\_'' For example: ''Item%Code'' becomes ''Item_-ava25-_Code''

        * Replace ''#'' with ''\_-ava23-\_'' For example: ''Item#Code'' becomes ''Item_-ava23-_Code''

        * Replace '''''' with ''\_-ava27-\_'' For example: ''Item''Code'' becomes ''Item_-ava27-_Code''

        * Replace ''"'' with ''\_-ava22-\_'' For example: ''Item"Code'' becomes ''Item_-ava22-_Code''


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemCode
        in: path
        schema:
          type: string
        required: true
      - name: systemCode
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsByItemCodePremiumClassificationBySystemCode
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/classificationrequests/taxcode/{requestId}/recommendations:
    get:
      tags:
      - Items
      summary: Avalara GetTaxCodeRecommendations
      description: 'Get tax code recommendations.


        Avalara AvaTax system tax codes represent various goods and services classified by industry or consumer categories and

        major physical similarities. Taxability rules are associated with tax codes. Customers can map their Items to tax codes

        allowing them to take advantage of thousands of tax rules in the AvaTax engine resulting in accurate taxability determinations.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: requestId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdClassificationrequestsTaxcodeByRequestIdRecommendations
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/{itemCode}/restrictions/import/{countryOfImport}:
    get:
      tags:
      - Items
      summary: Avalara ListImportRestrictions
      description: 'Retrieve Restrictions for Item by CountryOfImport. This API will only return import restriction for the countryOfImport.


        NOTE: If your item code contains any of these characters /, +, ? or a space, please use the following encoding before making a request:

        * Replace ''/'' with ''\_-ava2f-\_'' For example: ''Item/Code'' becomes ''Item_-ava2f-_Code''

        * Replace ''+'' with ''\_-ava2b-\_'' For example: ''Item+Code'' becomes ''Item_-ava2b-_Code''

        * Replace ''?'' with ''\_-ava3f-\_'' For example: ''Item?Code'' becomes ''Item_-ava3f-_Code''

        * Replace ''%'' with ''\_-ava25-\_'' For example: ''Item%Code'' becomes ''Item_-ava25-_Code''

        * Replace ''#'' with ''\_-ava23-\_'' For example: ''Item#Code'' becomes ''Item_-ava23-_Code''

        * Replace '''''' with ''\_-ava27-\_'' For example: ''Item''Code'' becomes ''Item_-ava27-_Code''

        * Replace ''"'' with ''\_-ava22-\_'' For example: ''Item"Code'' becomes ''Item_-ava22-_Code''


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: itemCode
        in: path
        schema:
          type: string
        required: true
      - name: countryOfImport
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsByItemCodeRestrictionsImportByCountryOfImport
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/items:
    get:
      tags:
      - Items
      summary: Avalara QueryItems
      description: 'Get multiple item objects across all companies.


        Items are a way of separating your tax calculation process from your tax configuration details. If you choose, you

        can provide `itemCode` values for each `CreateTransaction()` API call rather than specifying tax codes, parameters, descriptions,

        and other data fields. AvaTax will automatically look up each `itemCode` and apply the correct tax codes and parameters

        from the item table instead. This allows your CreateTransaction call to be as simple as possible, and your tax compliance

        team can manage your item catalog and adjust the tax behavior of items without having to modify your software.


        Search for specific objects using the criteria in the `$filter` parameter; full documentation is available on Filtering in REST .


        Paginate your results using the `$top`, `$skip`, and `$orderby` parameters.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2Items
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/bytags/{tag}:
    get:
      tags:
      - Items
      summary: Avalara QueryItemsByTag
      description: 'Get multiple item objects associated with given tag.


        Items are a way of separating your tax calculation process from your tax configuration details. If you choose, you

        can provide `itemCode` values for each `CreateTransaction()` API call rather than specifying tax codes, parameters, descriptions,

        and other data fields. AvaTax will automatically look up each `itemCode` and apply the correct tax codes and parameters

        from the item table instead. This allows your CreateTransaction call to be as simple as possible, and your tax compliance

        team can manage your item catalog and adjust the tax behavior of items without having to modify your software.


        Search for specific objects using the criteria in the `$filter` parameter; full documentation is available on Filtering in REST .


        Paginate your results using the `$top`, `$skip`, and `$orderby` parameters.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: tag
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdItemsBytagsByTag
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/itemcatalogue:
    post:
      tags:
      - Items
      summary: Avalara SyncItemCatalogue
      description: 'Creates/updates one or more item objects with additional properties and the AvaTax category attached to this company.


        Items are a way of separating your tax calculation process from your tax configuration details. Use this endpoint to create

        a new or update an existing item. This can be used to sync the items with Avalara. For example, an accounting software

        system can use this to sync all their items from an ERP with Avalara.


        Parameters and Classifications can be added with the Item.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                itemId: 0
                itemCode: Item 1
                description: Concord Grape Alpha
                summary: Apple Cider Vinegar Drink
                taxCode: P0000000
                upc: '7846226233'
                itemGroup: Drinks
                category: beverages - vinegar - drink
                source: QBO
                sourceEntityId: QBO_1234
                properties:
                  color: white
                classifications:
                - productCode: '9011900000'
                  systemCode: TARIC
                  isPremium: false
                parameters:
                - id: 0
                  name: ScreenSize
                  value: '24'
                  unit: Inch
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdItemcatalogue
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/companies/{companyId}/items/sync:
    post:
      tags:
      - Items
      summary: Avalara SyncItems
      description: 'Syncs a list of items with AvaTax without waiting for them to be created. It is ideal for syncing large product catalogs

        with AvaTax.


        Any invalid or duplicate items will be ignored. To diagnose why an item is not created, use the normal create transaction API to receive validation information.


        This API is currently limited to 1000 items per call (the limit is subject to change).


        Items are a way of separating your tax calculation process from your tax configuration details. If you choose, you

        can provide `itemCode` values for each `CreateTransaction()` API call rather than specifying tax codes, parameters, descriptions,

        and other data fields. AvaTax will automatically look up each `itemCode` and apply the correct tax codes and parameters

        from the item table instead. This allows your CreateTransaction call to be as simple as possible, and your tax compliance

        team can manage your item catalog and adjust the tax behavior of items without having to modify your software.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                items:
                - itemCode: CHIP1041
                  description: Potato Chips
                  itemGroup: Packaged Food
                  taxCode: PF051578
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: postApiV2CompaniesByCompanyIdItemsSync
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
components:
  parameters:
    companyId:
      name: companyId
      in: path
      required: true
      schema:
        type: integer
      description: The numeric ID of the company
    skip:
      name: $skip
      in: query
      schema:
        type: integer
        default: 0
      description: Number of results to skip for pagination
    filter:
      name: $filter
      in: query
      schema:
        type: string
      description: OData filter expression for result filtering
    top:
      name: $top
      in: query
      schema:
        type: integer
        default: 1000
      description: Maximum number of results to return
  schemas:
    FetchResult_ItemModel:
      type: object
      properties:
        '@recordsetCount':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/ItemModel'
    ItemModel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        companyId:
          type: integer
        itemCode:
          type: string
          description: Unique code for this item
        taxCode:
          type: string
          description: Avalara tax code for this item
        description:
          type: string
        category:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AvaTax username/password or accountId/licenseKey as basic auth credentials
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: AvaTax REST API v2 Documentation
  url: https://developer.avalara.com/api-reference/avatax/rest/v2/
x-refined-from:
- avalara-avatax-rest-openapi.yml
- avatax-apis-openapi.yml
