openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms Utilities API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: Utilities
  description: Utility endpoints including ping and health checks
paths:
  /api/v2/utilities/ping:
    get:
      operationId: ping
      summary: Avalara Test Connectivity and Authentication
      description: Tests connectivity to the AvaTax service and validates authentication credentials.
      tags:
      - Utilities
      security: []
      responses:
        '200':
          description: Ping successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResultModel'
  /api/v2/utilities/subscriptions:
    get:
      operationId: listMySubscriptions
      summary: Avalara List Subscriptions for the Current Account
      tags:
      - Utilities
      responses:
        '200':
          description: Subscriptions for authenticated account
  /api/v2/utilities/subscriptions/{serviceTypeId}:
    get:
      tags:
      - Utilities
      summary: Avalara GetMySubscription
      description: "Returns a subscription object for the current account, or 404 Not Found if this subscription is not enabled for this account.\r\n            \r\nThis API will return an error if it is called with invalid authentication credentials.\r\n            \r\nThis API is intended to help you determine whether you have the necessary subscription to use certain API calls\r\nwithin AvaTax.  You can examine the subscriptions returned from this API call to look for a particular product\r\nor subscription to provide useful information to the current user as to whether they are entitled to use\r\nspecific features of AvaTax."
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: serviceTypeId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  schemas:
    PingResultModel:
      type: object
      properties:
        version:
          type: string
          description: AvaTax API version
        authenticated:
          type: boolean
          description: Whether the request was authenticated
        authenticationType:
          type: string
          enum:
          - None
          - UsernamePassword
          - AccountIdLicenseKey
          - OpenIdBearerToken
          description: Type of authentication used
        authenticatedUserName:
          type: string
          description: Username of the authenticated user
        authenticatedUserId:
          type: integer
          description: User ID of the authenticated user
        authenticatedAccountId:
          type: integer
          description: Account ID of the authenticated user
        crmid:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
