openapi: 3.1.0
info:
  title: Avalara Free API
  version: '1.0'
  description: 'Operations tagged Free across 2 of this provider''s published API definitions: avalara-avatax-rest-openapi.yml, avatax-apis-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.avatax.com
  description: AvaTax Production
- url: https://sandbox-rest.avatax.com
  description: AvaTax Sandbox
- url: http://{{baseurl}}
tags:
- name: Free
  description: Free tax rate lookup endpoints
paths:
  /api/v2/taxrates/byaddress:
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
    get:
      operationId: taxRatesByAddress
      summary: Avalara Get Tax Rates by Address
      description: Free tax rates lookup by street address. Returns the estimated combined tax rate for a given location.
      tags:
      - Free
      parameters:
      - name: line1
        in: query
        required: true
        schema:
          type: string
        description: Street address line 1
      - name: city
        in: query
        schema:
          type: string
      - name: region
        in: query
        required: true
        schema:
          type: string
        description: State or province code
      - name: postalCode
        in: query
        required: true
        schema:
          type: string
      - name: country
        in: query
        required: true
        schema:
          type: string
        description: Two-character ISO 3166 country code
      responses:
        '200':
          description: Tax rate information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateModel'
      security:
      - basicAuth: []
      - bearerAuth: []
  /api/v2/taxrates/bypostalcode:
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
    get:
      operationId: taxRatesByPostalCode
      summary: Avalara Get Tax Rates by Postal Code
      description: Free tax rates lookup by postal code. Returns estimated combined tax rate for a given postal code.
      tags:
      - Free
      parameters:
      - name: country
        in: query
        required: true
        schema:
          type: string
      - name: postalCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tax rate information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateModel'
      security:
      - basicAuth: []
      - bearerAuth: []
  /api/v2/accounts/freetrials/request:
    servers:
    - url: http://{{baseurl}}
    post:
      tags:
      - Free
      summary: Avalara RequestFreeTrial
      description: "Call this API to obtain a free AvaTax account.\n            \nThis API is free to use.  No authentication credentials are required to call this API. You must read and\naccept [Avalara's terms and conditions](https://www1.avalara.com/us/en/legal/terms.html) for the account to be\ncreated.\n            \nIf all conditions are met, this API will grant a free trial version of AvaTax.  For a list of functionality\navailable in the free trial and its limitations, please see the [AvaTax Developer Website Free Trial page](https://developer.avalara.com/avatax/signup/).\n            \nAfter your free trial concludes, you will still be able to use the [Free AvaTax API Suite](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Free/).\n\n### Security Policies\n\n* This API may be called without providing authentication credentials.\n"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                firstName: Bob
                lastName: McExample
                email: bob@example.org
                company: Bob's Artisan Pottery
                phone: +1 (714) 555-1212
                campaign: 70140000000TsVb
                companyAddress:
                  line: 100 Ravine Ln
                  region: WA
                  country: US
                  postalCode: '98010'
                website: www.bobartisanpottery.com
                haveReadAvalaraTermsAndConditions: true
                acceptAvalaraTermsAndConditions: true
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
components:
  schemas:
    TaxRateModel:
      type: object
      properties:
        totalRate:
          type: number
          format: double
          description: Total combined tax rate
        rates:
          type: array
          items:
            type: object
            properties:
              rate:
                type: number
                format: double
              name:
                type: string
              type:
                type: string
                enum:
                - Country
                - State
                - County
                - City
                - Special
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AvaTax username/password or accountId/licenseKey as basic auth credentials
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: AvaTax REST API v2 Documentation
  url: https://developer.avalara.com/api-reference/avatax/rest/v2/
x-refined-from:
- avalara-avatax-rest-openapi.yml
- avatax-apis-openapi.yml
