openapi: 3.1.0
info:
  title: Avalara Excise Platform Business Entities API
  description: The Avalara Excise Platform API provides an external programmatic interface for excise tax determination on fuel, tobacco, alcohol, and other excise products. It supports tax calculation, business entity management, location configuration, and transaction processing for excise tax compliance across US federal and state jurisdictions.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://exciseapi.avalara.com/api/v1
  description: Excise API Production
security:
- bearerAuth: []
tags:
- name: Business Entities
  description: Manage business entity records
paths:
  /BusinessEntities:
    get:
      operationId: listBusinessEntities
      summary: Avalara List Business Entities
      tags:
      - Business Entities
      responses:
        '200':
          description: List of business entities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessEntity'
    post:
      operationId: createBusinessEntity
      summary: Avalara Create a Business Entity
      tags:
      - Business Entities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
      responses:
        '201':
          description: Business entity created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
  /BusinessEntities/{entityId}:
    get:
      operationId: getBusinessEntity
      summary: Avalara Get a Business Entity by ID
      tags:
      - Business Entities
      parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Business entity details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessEntity'
    put:
      operationId: updateBusinessEntity
      summary: Avalara Update a Business Entity
      tags:
      - Business Entities
      parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessEntity'
      responses:
        '200':
          description: Business entity updated
    delete:
      operationId: deleteBusinessEntity
      summary: Avalara Delete a Business Entity
      tags:
      - Business Entities
      parameters:
      - name: entityId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Business entity deleted
components:
  schemas:
    BusinessEntity:
      type: object
      properties:
        entityId:
          type: string
        entityName:
          type: string
        entityType:
          type: string
        federalIdNumber:
          type: string
          description: Federal EIN
        address:
          $ref: '#/components/schemas/ExciseAddress'
        isActive:
          type: boolean
    ExciseAddress:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        region:
          type: string
          description: State or province code
        postalCode:
          type: string
        country:
          type: string
          description: ISO 3166 country code
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication
externalDocs:
  description: Excise Platform API Documentation
  url: https://developer.avalara.com/api-reference/excise/v1/
