openapi: 3.2.0
info:
  title: Avalara Settings API
  version: '1.0'
  description: 'Operations tagged Settings across 2 of this provider''s published API definitions: avalara-avatax-rest-openapi.yml, avatax-apis-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.avatax.com
  description: AvaTax Production
- url: https://sandbox-rest.avatax.com
  description: AvaTax Sandbox
- url: http://{{baseurl}}
tags:
- name: Settings
  description: Manage company settings
paths:
  /api/v2/companies/{companyId}/settings:
    get:
      operationId: listSettings
      summary: Avalara List Settings for a Company
      tags:
      - Settings
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      responses:
        '200':
          description: List of settings
      security:
      - basicAuth: []
      - bearerAuth: []
    post:
      tags:
      - Settings
      summary: Avalara CreateSettings
      description: 'Create one or more new setting objects attached to this company.


        The company settings system is a metadata system that you can use to store extra information

        about a company. Your integration or connector could use this data storage to keep track of

        preference information, reminders, or any other storage that would need to persist even if

        the customer uninstalls your application.


        A setting can refer to any type of data you need to remember about this company object.

        When creating this object, you may define your own `set`, `name`, and `value` parameters.

        To define your own values, please choose a `set` name that begins with `X-` to indicate an extension.


        Use Set = Transactions, Name = TaxCodePrioritization/HSCodePrioritization and Value = Transaction/ItemMaster for prioritizing which TaxCodes/HsCodes should be used for calculating taxes.


        Example: To prioritize TaxCodes passed in a Transaction over values stored with Items when calculating tax, use

        Set = Transactions, Name = TaxCodePrioritization, Value = Transaction


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, ProStoresOperator, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 56789
                companyId: 12345
                set: ItemsToRemember
                name: Texas
                value: Alamo
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      - bearerAuth: []
      operationId: postApiV2CompaniesByCompanyIdSettings
      x-operation-id-source: derived
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
  /api/v2/companies/{companyId}/settings/{id}:
    delete:
      tags:
      - Settings
      summary: Avalara DeleteSetting
      description: 'Mark the setting object at this URL as deleted.


        The company settings system is a metadata system that you can use to store extra information

        about a company. Your integration or connector could use this data storage to keep track of

        preference information, reminders, or any other storage that would need to persist even if

        the customer uninstalls your application.


        A setting can refer to any type of data you need to remember about this company object.

        When creating this object, you may define your own `set`, `name`, and `value` parameters.

        To define your own values, please choose a `set` name that begins with `X-` to indicate an extension.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, FirmAdmin, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: deleteApiV2CompaniesByCompanyIdSettingsById
      x-operation-id-source: derived
    get:
      tags:
      - Settings
      summary: Avalara GetSetting
      description: 'Get a single setting object by its unique ID.


        The company settings system is a metadata system that you can use to store extra information

        about a company. Your integration or connector could use this data storage to keep track of

        preference information, reminders, or any other storage that would need to persist even if

        the customer uninstalls your application.


        A setting can refer to any type of data you need to remember about this company object.

        When creating this object, you may define your own `set`, `name`, and `value` parameters.

        To define your own values, please choose a `set` name that begins with `X-` to indicate an extension.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, ComplianceAdmin, ComplianceUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, FirmAdmin, FirmUser, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2CompaniesByCompanyIdSettingsById
      x-operation-id-source: derived
    put:
      tags:
      - Settings
      summary: Avalara UpdateSetting
      description: 'Replace the existing setting object at this URL with an updated object.


        The company settings system is a metadata system that you can use to store extra information

        about a company. Your integration or connector could use this data storage to keep track of

        preference information, reminders, or any other storage that would need to persist even if

        the customer uninstalls your application.


        A setting can refer to any type of data you need to remember about this company object.

        When creating this object, you may define your own `set`, `name`, and `value` parameters.

        To define your own values, please choose a `set` name that begins with `X-` to indicate an extension.


        All data from the existing object will be replaced with data in the object you `PUT`.


        To set a field''s value to `null`, you may either set its value to `null` or omit that field from the object when calling update.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, ProStoresOperator, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: 56789
                companyId: 12345
                set: ItemsToRemember
                name: Texas
                value: Alamo
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      - name: companyId
        in: path
        schema:
          type: string
        required: true
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: putApiV2CompaniesByCompanyIdSettingsById
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
  /api/v2/settings:
    get:
      tags:
      - Settings
      summary: Avalara QuerySettings
      description: 'Get multiple setting objects across all companies.


        The company settings system is a metadata system that you can use to store extra information

        about a company. Your integration or connector could use this data storage to keep track of

        preference information, reminders, or any other storage that would need to persist even if

        the customer uninstalls your application.


        A setting can refer to any type of data you need to remember about this company object.

        When creating this object, you may define your own `set`, `name`, and `value` parameters.

        To define your own values, please choose a `set` name that begins with `X-` to indicate an extension.


        Search for specific objects using the criteria in the `$filter` parameter; full documentation is available on Filtering in REST .

        Paginate your results using the `$top`, `$skip`, and `$orderby` parameters.


        ### Security Policies


        * This API requires one of the following user roles: AccountAdmin, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, ComplianceAdmin, ComplianceUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, FirmAdmin, FirmUser, ProStoresOperator, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.'
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      operationId: getApiV2Settings
      x-operation-id-source: derived
    servers:
    - url: http://{{baseurl}}
components:
  parameters:
    skip:
      name: $skip
      in: query
      schema:
        type: integer
        default: 0
      description: Number of results to skip for pagination
    filter:
      name: $filter
      in: query
      schema:
        type: string
      description: OData filter expression for result filtering
    companyId:
      name: companyId
      in: path
      required: true
      schema:
        type: integer
      description: The numeric ID of the company
    top:
      name: $top
      in: query
      schema:
        type: integer
        default: 1000
      description: Maximum number of results to return
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AvaTax username/password or accountId/licenseKey as basic auth credentials
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: AvaTax REST API v2 Documentation
  url: https://developer.avalara.com/api-reference/avatax/rest/v2/
x-refined-from:
- avalara-avatax-rest-openapi.yml
- avatax-apis-openapi.yml
