openapi: 3.1.0
info:
  title: Avalara Addresses API
  version: '1.0'
  description: 'Operations tagged Addresses across 2 of this provider''s published API definitions: avalara-avatax-rest-openapi.yml, avatax-apis-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rest.avatax.com
  description: AvaTax Production
- url: https://sandbox-rest.avatax.com
  description: AvaTax Sandbox
- url: http://{{baseurl}}
tags:
- name: Addresses
  description: Validate and resolve addresses for tax jurisdiction determination
paths:
  /api/v2/addresses/resolve:
    servers:
    - url: https://rest.avatax.com
      description: AvaTax Production
    - url: https://sandbox-rest.avatax.com
      description: AvaTax Sandbox
    post:
      operationId: resolveAddress
      summary: Avalara Resolve and Validate an Address
      description: Validates and resolves an address to a standardized format with latitude, longitude, and tax jurisdiction information.
      tags:
      - Addresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressValidationInfo'
      responses:
        '200':
          description: Address resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResolutionModel'
      security:
      - basicAuth: []
      - bearerAuth: []
    get:
      tags:
      - Addresses
      summary: Avalara ResolveAddress
      description: "Resolve an address against Avalara's address-validation system.  If the address can be resolved, this API\nprovides the latitude and longitude of the resolved location.  The value 'resolutionQuality' can be used\nto identify how closely this address can be located.  If the address cannot be clearly located, use the\n'messages' structure to learn more about problems with this address.\nThis is the same API as the POST /api/v2/addresses/resolve endpoint.\nBoth verbs are supported to provide for flexible implementation.\n            \nIn order to get any evaluation for an address, please provide at least one of the following fields/pairs:\n1. postal code\n2. line1 + city + region\n3. line1 + postal code\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n* This API depends on the following active services:*Required* (all):  AutoAddress.\n"
      parameters:
      - name: X-Avalara-Client
        in: header
        schema:
          type: string
        description: Identifies the software you are using to call this API. For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/).
        example: AvaTax Postman Collection
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      security:
      - basicAuth: []
      - bearerAuth: []
components:
  schemas:
    AddressInfo:
      type: object
      properties:
        line1:
          type: string
          description: Street address line 1
        line2:
          type: string
          description: Street address line 2
        line3:
          type: string
          description: Street address line 3
        city:
          type: string
          description: City name
        region:
          type: string
          description: State, province, or region code
        postalCode:
          type: string
          description: Postal code or ZIP code
        country:
          type: string
          description: Two-character ISO 3166 country code
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    TaxAuthorityInfo:
      type: object
      properties:
        avalaraId:
          type: string
        jurisdictionName:
          type: string
        jurisdictionType:
          type: string
        signatureCode:
          type: string
    AddressResolutionModel:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/AddressInfo'
        validatedAddresses:
          type: array
          items:
            $ref: '#/components/schemas/AddressInfo'
        coordinates:
          type: object
          properties:
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
        resolutionQuality:
          type: string
          enum:
          - NotCoded
          - External
          - CountryCentroid
          - RegionCentroid
          - PartialCentroid
          - PostalCentroidGood
          - PostalCentroidBetter
          - PostalCentroidBest
          - Intersection
          - Interpolated
          - Rooftop
        taxAuthorities:
          type: array
          items:
            $ref: '#/components/schemas/TaxAuthorityInfo'
    AddressValidationInfo:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        line3:
          type: string
        city:
          type: string
        region:
          type: string
        postalCode:
          type: string
        country:
          type: string
        textCase:
          type: string
          enum:
          - Default
          - Upper
          - Mixed
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AvaTax username/password or accountId/licenseKey as basic auth credentials
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: AvaTax REST API v2 Documentation
  url: https://developer.avalara.com/api-reference/avatax/rest/v2/
x-refined-from:
- avalara-avatax-rest-openapi.yml
- avatax-apis-openapi.yml
