openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms Properties API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: Properties
  description: Manage rental property registrations
paths:
  /properties:
    get:
      operationId: listProperties
      summary: Avalara List Registered Properties
      tags:
      - Properties
      responses:
        '200':
          description: List of properties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RentalProperty'
    post:
      operationId: registerProperty
      summary: Avalara Register a Rental Property
      tags:
      - Properties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RentalProperty'
      responses:
        '201':
          description: Property registered
components:
  schemas:
    RentalProperty:
      type: object
      properties:
        propertyId:
          type: string
        propertyName:
          type: string
        address:
          type: object
          properties:
            line1:
              type: string
            city:
              type: string
            region:
              type: string
            postalCode:
              type: string
            country:
              type: string
        listingPlatforms:
          type: array
          items:
            type: string
          description: Platforms where the property is listed (e.g., Airbnb, VRBO)
        propertyType:
          type: string
          enum:
          - House
          - Apartment
          - Condo
          - Room
          - Other
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
