openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms Returns API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: Returns
  description: Manage and file VAT returns
paths:
  /returns:
    get:
      operationId: listReturns
      summary: Avalara List VAT Returns
      description: Retrieves VAT returns with optional filtering by status and period.
      tags:
      - Returns
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - Draft
          - Submitted
          - Accepted
          - Rejected
      - name: periodStart
        in: query
        schema:
          type: string
          format: date
      - name: periodEnd
        in: query
        schema:
          type: string
          format: date
      - name: countryCode
        in: query
        schema:
          type: string
      - name: $top
        in: query
        schema:
          type: integer
      - name: $skip
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of VAT returns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnList'
  /returns/{returnId}:
    get:
      operationId: getReturn
      summary: Avalara Get a VAT Return by ID
      tags:
      - Returns
      parameters:
      - name: returnId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: VAT return details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VATReturn'
  /returns/{returnId}/submit:
    post:
      operationId: submitReturn
      summary: Avalara Submit a VAT Return for Filing
      description: Submits a finalized VAT return to the relevant tax authority.
      tags:
      - Returns
      parameters:
      - name: returnId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Return submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VATReturn'
components:
  schemas:
    ReturnList:
      type: object
      properties:
        '@recordSetCount':
          type: integer
        value:
          type: array
          items:
            $ref: '#/components/schemas/VATReturn'
    VATReturn:
      type: object
      properties:
        returnId:
          type: string
        companyId:
          type: string
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code
        vatRegistrationNumber:
          type: string
        returnType:
          type: string
          enum:
          - VATReturn
          - ECListing
          - Intrastat
        periodStart:
          type: string
          format: date
        periodEnd:
          type: string
          format: date
        status:
          type: string
          enum:
          - Draft
          - Submitted
          - Accepted
          - Rejected
        totalOutputVAT:
          type: number
          format: double
        totalInputVAT:
          type: number
          format: double
        netVATDue:
          type: number
          format: double
        submissionDate:
          type: string
          format: date-time
        currency:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
