openapi: 3.1.0
info:
  title: Avalara MyLodgeTax Tax Rates API
  description: The MyLodgeTax API provides sales and lodging tax compliance for short-term property rentals. It offers partners access to summarized tax responsibilities for property owners by marketplace, including direct listings and marketplace bookings, with tax rate lookups and filing obligation information.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/mylodgetax/v1
  description: MyLodgeTax API Production
security:
- bearerAuth: []
tags:
- name: Tax Rates
  description: Look up lodging tax rates by location
paths:
  /tax-rates:
    get:
      operationId: getLodgingTaxRates
      summary: Avalara Get Lodging Tax Rates
      description: Returns applicable lodging and short-term rental tax rates for a given property location, broken down by jurisdiction.
      tags:
      - Tax Rates
      parameters:
      - name: line1
        in: query
        required: true
        schema:
          type: string
        description: Street address
      - name: city
        in: query
        schema:
          type: string
      - name: region
        in: query
        required: true
        schema:
          type: string
        description: State or province
      - name: postalCode
        in: query
        required: true
        schema:
          type: string
      - name: country
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Lodging tax rates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LodgingTaxRateResponse'
components:
  schemas:
    LodgingTaxRateResponse:
      type: object
      properties:
        totalRate:
          type: number
          format: double
          description: Total combined lodging tax rate
        rates:
          type: array
          items:
            type: object
            properties:
              jurisdiction:
                type: string
              jurisdictionType:
                type: string
                enum:
                - State
                - County
                - City
                - District
              taxName:
                type: string
              rate:
                type: number
                format: double
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: MyLodgeTax API Documentation
  url: https://developer.avalara.com/api-reference/myLodgeAPI/tax/
