openapi: 3.1.0
info:
  title: Avalara MyLodgeTax Properties API
  description: The MyLodgeTax API provides sales and lodging tax compliance for short-term property rentals. It offers partners access to summarized tax responsibilities for property owners by marketplace, including direct listings and marketplace bookings, with tax rate lookups and filing obligation information.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/mylodgetax/v1
  description: MyLodgeTax API Production
security:
- bearerAuth: []
tags:
- name: Properties
  description: Manage rental property registrations
paths:
  /properties:
    get:
      operationId: listProperties
      summary: Avalara List Registered Properties
      tags:
      - Properties
      responses:
        '200':
          description: List of properties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RentalProperty'
    post:
      operationId: registerProperty
      summary: Avalara Register a Rental Property
      tags:
      - Properties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RentalProperty'
      responses:
        '201':
          description: Property registered
components:
  schemas:
    RentalProperty:
      type: object
      properties:
        propertyId:
          type: string
        propertyName:
          type: string
        address:
          type: object
          properties:
            line1:
              type: string
            city:
              type: string
            region:
              type: string
            postalCode:
              type: string
            country:
              type: string
        listingPlatforms:
          type: array
          items:
            type: string
          description: Platforms where the property is listed (e.g., Airbnb, VRBO)
        propertyType:
          type: string
          enum:
          - House
          - Apartment
          - Condo
          - Room
          - Other
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: MyLodgeTax API Documentation
  url: https://developer.avalara.com/api-reference/myLodgeAPI/tax/
