openapi: 3.1.0
info:
  title: Avalara MyLodgeTax Obligations API
  description: The MyLodgeTax API provides sales and lodging tax compliance for short-term property rentals. It offers partners access to summarized tax responsibilities for property owners by marketplace, including direct listings and marketplace bookings, with tax rate lookups and filing obligation information.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/mylodgetax/v1
  description: MyLodgeTax API Production
security:
- bearerAuth: []
tags:
- name: Obligations
  description: View filing obligations and tax responsibilities
paths:
  /properties/{propertyId}/obligations:
    get:
      operationId: getPropertyObligations
      summary: Avalara Get Filing Obligations for a Property
      description: Returns a summary of tax filing obligations for a registered property, including which taxes apply and filing frequencies.
      tags:
      - Obligations
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Filing obligations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilingObligation'
components:
  schemas:
    FilingObligation:
      type: object
      properties:
        jurisdiction:
          type: string
        taxType:
          type: string
        filingFrequency:
          type: string
          enum:
          - Monthly
          - Quarterly
          - Annual
        nextDueDate:
          type: string
          format: date
        registrationRequired:
          type: boolean
        registrationUrl:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: MyLodgeTax API Documentation
  url: https://developer.avalara.com/api-reference/myLodgeAPI/tax/
