openapi: 3.1.0
info:
  title: Avalara Communications Tax Geocoding API
  description: The Avalara Communications Tax API (AFC SaasPro) provides communications tax calculations for telecom, VoIP, internet, and other communications services. It supports tax calculations using transaction/service pairs, jurisdiction determination via geocoding, and customizable tax profiles for accurate communications tax compliance.
  version: '2.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://communicationsua.avalara.net
  description: Communications API Production
security:
- basicAuth: []
tags:
- name: Geocoding
  description: Determine tax jurisdictions from addresses
paths:
  /api/v2/geo/Geocode:
    post:
      operationId: geocode
      summary: Avalara Geocode an Address
      description: Determines the tax jurisdiction for a given address using geocoding. Returns jurisdiction codes (PCode, FIPS) needed for tax calculations.
      tags:
      - Geocoding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeocodeRequest'
      responses:
        '200':
          description: Geocoding results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResult'
components:
  schemas:
    GeocodeRequest:
      type: object
      properties:
        ref:
          type: string
          description: Reference ID
        cass:
          type: boolean
          description: Whether to return CASS-certified address
        addr:
          type: string
          description: Street address
        city:
          type: string
        st:
          type: string
          description: State abbreviation
        zip:
          type: string
          description: ZIP code
    GeocodeResult:
      type: object
      properties:
        ref:
          type: string
        cass:
          type: object
          properties:
            addr:
              type: string
            city:
              type: string
            st:
              type: string
            zip:
              type: string
        cBlk:
          type: string
          description: Census block group
        cTrc:
          type: string
          description: Census tract
        err:
          type: string
          description: Error message if geocoding failed
        geo:
          type: boolean
          description: Whether geocoding was successful
        lat:
          type: number
          format: double
        long:
          type: number
          format: double
        pcd:
          type: integer
          description: PCode for the determined jurisdiction
        fips:
          type: string
          description: FIPS code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your AFC SaasPro credentials for basic authentication
externalDocs:
  description: Communications Tax API Documentation
  url: https://developer.avalara.com/api-reference/communications/v2/
