openapi: 3.1.0
info:
  title: Avalara 1099 & W-9 1099 Forms API
  description: The Avalara 1099 and W-9 API automates collection, validation, and e-filing of IRS forms including 1099 variants (1099-NEC, 1099-MISC, 1099-K, 1099-INT, 1099-DIV), 1095 forms, W-2, and 1042-S. It provides endpoints for creating, updating, managing, and filing various IRS information returns.
  version: '1.0'
  contact:
    name: Avalara Developer Relations
    url: https://developer.avalara.com/
    email: developer.relations@avalara.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://legal.avalara.com/#siteterms
servers:
- url: https://api.avalara.com/1099/v1
  description: 1099 API Production
- url: https://api.sbx.avalara.com/1099/v1
  description: 1099 API Sandbox
security:
- bearerAuth: []
tags:
- name: 1099 Forms
  description: Create and manage 1099 information returns
paths:
  /forms/1099:
    post:
      operationId: create1099Form
      summary: Avalara Create a 1099 Form
      description: Creates a new 1099 information return form with payee and payment information.
      tags:
      - 1099 Forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099'
      responses:
        '201':
          description: 1099 form created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099'
    get:
      operationId: list1099Forms
      summary: Avalara List 1099 Forms
      tags:
      - 1099 Forms
      parameters:
      - name: taxYear
        in: query
        schema:
          type: integer
      - name: formType
        in: query
        schema:
          type: string
          enum:
          - 1099-NEC
          - 1099-MISC
          - 1099-K
          - 1099-INT
          - 1099-DIV
          - 1099-R
          - 1099-B
      - name: status
        in: query
        schema:
          type: string
      - name: $top
        in: query
        schema:
          type: integer
      - name: $skip
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: List of 1099 forms
  /forms/1099/{formId}:
    get:
      operationId: get1099Form
      summary: Avalara Get a 1099 Form by ID
      tags:
      - 1099 Forms
      parameters:
      - name: formId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 1099 form details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form1099'
    put:
      operationId: update1099Form
      summary: Avalara Update a 1099 Form
      tags:
      - 1099 Forms
      parameters:
      - name: formId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form1099'
      responses:
        '200':
          description: 1099 form updated
    delete:
      operationId: delete1099Form
      summary: Avalara Delete a 1099 Form
      tags:
      - 1099 Forms
      parameters:
      - name: formId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Form deleted
components:
  schemas:
    Form1099:
      type: object
      properties:
        id:
          type: string
        formType:
          type: string
          enum:
          - 1099-NEC
          - 1099-MISC
          - 1099-K
          - 1099-INT
          - 1099-DIV
          - 1099-R
          - 1099-B
        taxYear:
          type: integer
        payerCompanyId:
          type: string
        payee:
          type: object
          properties:
            name:
              type: string
            tin:
              type: string
            address:
              type: object
              properties:
                line1:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postalCode:
                  type: string
        amounts:
          type: object
          additionalProperties:
            type: number
            format: double
          description: Box amounts keyed by box number
        federalTaxWithheld:
          type: number
          format: double
        stateTaxWithheld:
          type: number
          format: double
        status:
          type: string
          enum:
          - Draft
          - Ready
          - Filed
          - Corrected
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token
externalDocs:
  description: 1099 & W-9 API Documentation
  url: https://developer.avalara.com/api-reference/avalara1099/avalara1099/
